$sec-background-color: #f8f8f8;
$heading-color: #004ab4;
$card-footer-color: #828282;

.pgdm-certificate {
  background-color: $sec-background-color;
  padding: 16px;
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 14px;

  &__overline {
    color: $heading-color;
    font-size: 14px;
  }

  &__title {
    font-size: 25px;
    font-weight: 500;
    line-height: 57px;
  }
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 18px;
    justify-items: stretch;

    .card {
      background-color: white;
      padding: 12px;
      border-radius: 8px;
      box-shadow: 0px 0px 3px 0px #ccc8c8;

      &__title {
        font-size: 26px;
        font-weight: 400;

        &__logo {
          width: 100px;
        }

        &__card2--color {
          color: #e69002;
        }

        &__card3--color {
          color: #4435bb;
        }

        &__card4--color {
          color: #00a1d8;
        }

      }

      &__content {
        font-size: 15px;
        padding: 4px 0px 10px;
        line-height: 23px;
        // letter-spacing: 0.7px;
      }

      &__footer {
        color: $card-footer-color;
        padding-top: 5px;
        font-size: 11px;
      }

    }
  }
}

.certificate-img {
  width: 100%;
  padding: 5px;
  margin-top: 15px;
}

@media (min-width:650px) {
  .pgdm-certificate {
    padding: 25px 0px;
  }

  .content {
    padding-bottom: 31px;

    .cards {
      .card {
        padding: 29px 26px;

        &__title {
          font-size: 50px;
          padding-left: 10px;

          &__logo {
            width: 159px;
            padding-bottom: 8px;
            padding-left: 10px;
          }
        }
      }

      &__content {
        font-size: 18px;
      }
    }

  }

  .heading {

    &__overline {
      font-size: 16px;
      font-weight: 400;
    }

    &__title {
      font-size: 44px;
      line-height: 93px;

      &__logo {
        width: 170px;
        padding: 35px 0px 10px 12px;
      }
    }
  }

  .certificate-img {
    margin-top: 54px;
  }
}

@media (min-width:1200px) {
  .cards {
    padding-top: 14px;
    padding-right: 20px;
  }

  .content {
    flex-direction: row;
    justify-content: space-between;
  }

  .card-heading {
    width: 50%;
  }

  .certificate-img {
    max-width: 713px;
    padding-left: 20px;
  }

  .heading {
    align-items: flex-start;
  }
}