.contectUs {
    padding: 4% 0%;
    align-items: center;

    &__content {
        margin: auto;
        width: 95%;
        text-align: center;

        @media (min-width:600px) {
            width: 70%;
        }

        @media (min-width:900px) {
            width: 50%;
        }

        .heading {
            text-align: center;
        }

        &__icon {
            width: 15px;
            position: absolute;
            margin: 4px -17px;
        }
    }
}