$heading-color: rgb(46, 46, 46);

.question {
    padding: 4% 10%;
    display: grid;
    min-height: 411px;
    align-items: center;
    grid-template-columns: auto;

    @media (min-width:900px) {
        grid-template-columns: auto auto;
    }

    &__icon {
        position: absolute;
        height: 22px;
        margin: 3px 0px 0px -27px;
        height: 20px;
        @media (min-width:600px) {
            height: 20px;
            margin: 0px 0px -4px -25px;
        }
    }

    &__list {
        list-style: none;
        width: 90%;
        margin: 12px 0px 13px 30px;
        font-size: 21px;
        color: $heading-color;
        @media (min-width:1000px) {
            font-size: 16px;
        }
    }

    .paragraph--faq {
        padding: 0px;
    }

}