.footer-head {
    position: absolute;
    border: none;
    right: 0;
    z-index: 0;
    border-bottom: 110px solid #1a2130;
    border-left: 1600px solid #f3f4f6;
}

.footer-sec {
    width: 100%;
    background-color: rgb(25, 33, 48);
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // padding-top: 14%;
    flex-wrap: wrap;
    color: white;

    @media (min-width:600px) {
        flex-direction: column;
        justify-content: space-around;
    }

    @media (min-width:900px) {
        flex-direction: row;
        align-items: center;
    }

    .aboutus-wrapper {
        padding: 32% 0% 0%;
        padding-left: 20px;

        @media (min-width:900px) {
            width: 33%;
            padding: 14% 0% 7% 5%;
        }

        .footer-logo {
            width: 220px;

            img {
                width: 170px;

                @media (min-width:800px) {
                    width: 162px;
                }
            }
        }

        p {
            font-size: 18px;
            letter-spacing: 1px;
            color: #fdfafa;
            padding: 2% 0%;
            line-height: 1.5;

            @media (max-width:500px) {
                width: 80vw;
                font-size: 17px;
                letter-spacing: .5px;
                font-weight: 300;
            }
        }
    }

    .service-wrapper {
        display: flex;
        flex-direction: column;
        padding-left: 40px;
        width: 33%;


        @media (min-width:500px) {
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            margin-bottom: 29px;
        }
        @media (min-width:900px) {
            margin-top: 136px;
        }
        .company{
            width: 80vw;
            @media (min-width:500px) {
                margin-right: 80px;
                width: 10vw;
            }
        }
        .usefull-links{
            margin: 10px 0px;
            width: 80vw;
            @media (min-width:500px) {
                margin-right: 80px;
                width: 10vw;
                font-weight: 300;
            }
        }

        .footer-h3 {
            padding-bottom: 2%;
            font-size: 21px;

            @media (min-width:500px) {
                padding-bottom: 5%;
            }

            @media (min-width:900px) {
                padding-bottom: 7%;
                font-size: 21px;
                font-weight: 400;
            }

        }

        .footer-li {
            margin: 4%;
            font-size: 16px;
            letter-spacing: 1px;
            color: white;
            list-style: none;

            @media (min-width:500px) {
                margin: 8%;
                font-size: 18px;
                font-weight: 300;
                width: 100%;
            }
        }
    }

    .subscribe-wrapper {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 15px;

        
        @media (min-width:500px) {
            font-size: 21px;
        }
        @media (min-width:900px) {
            margin-top: 63px;
        }

        h3 {
            padding-bottom: 15px;
            font-size: 21px;
            
            @media (min-width:500px) {
                padding: 10px 0px;
                font-size: 21px;
            }
            @media (min-width:900px) {
                padding-bottom: 15px;
                font-size: 25px;
                font-weight: 400;
            }

        }

        p {
            padding-bottom: 2%;
            color: white;
            @media (min-width:900px) {
                font-weight: 300;
            }
        }

        label {
            font-size: 19px;
        }

        label:after {
            color: #e32;
            content: ' *';
            display: inline;
        }

        input {
            font-size: 20px;
            color: white;
            background-color: rgb(39, 50, 75);
            width: 90%;
            height: 44px;
            border: none;
            border-radius: 5px;

            @media (min-width:500px) {
                width: 50%;
                height: 60px;
            }
            @media (min-width:900px) {
                width: 100%;
                height: 44px;
            }
        }

        ::placeholder {
            color: white;
            padding-left: 10px;
        }

        .btn {
            width: 90%;
            @media (min-width:500px) {
                width: 50%;
                height: 60px;
            }
            @media (min-width:900px) {
                width: 100%;
                height: 44px;
            }
        }
    }
    .arrow {
        position: absolute;
        margin: 8px -11px;
        border-color: white;
        width: 8px;
        height: 8px;
    }

    .footer-kart-logo {
        display: flex;
        width: 33vw;
        margin: 20px 0px 40px;

        @media (max-width:1000px) {
            width: 50vw;
            font-size: 30px;
            justify-content: space-around;
        }

        @media (max-width:500px) {
            width: 100vw;
            margin: 20px 0px 40px;
            justify-content: flex-start;
        }

        .f-logo {
            height: 40px;
            width: 38px;
            border-radius: 8px;
            margin: 1.5px;
            border: 1px solid #343e54;
            align-content: center;

            @media (min-width:1000px) {
                border-radius: 8px;
                margin: 3px;
            }

            @media (min-width:500px) {
                border-radius: 8px;
                margin: 3px;
            }

            // .logo-img {
            //     height: 20px;
            //     width: 20px;
            //     padding: 21% 20%;
            // }
        }
    }
}