$section-color: rgb(255, 255, 255);

hr {
    width: 100%;
  }
.section2 {
    height: 88px;
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: auto;
    margin-left: 5%;
    background-color: $section-color;
    @media (max-width:1000px) {
        height: 70px;
        width: 100%;
        margin-left: 0%;
    }

    .mnc-logo {
        list-style: none;
        align-items: center;

        img {
            width: 35%;
            padding-left: 31%;
        }
        @media (max-width:1000px) {
            width: 75%;
        }
    }
}