.section {
    width: 100%;
    border: 2px solid rgb(244, 242, 242);
    background-color: $section-color;

    .sec2-logo {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        .mnc-logo {
            list-style: none;
            align-items: center;
            max-width: 200px;
            min-width: 150px;
    
            .sec2-img {
                width: 55%;
                margin: 18%;
            }
        }
    }

}