$content-color: rgb(80, 70, 228);
$contaner-color: rgb(243, 244, 246);
$white-color: white;

.header {
  width: 100%;
  height: 60px;
  background-color: $white-color;
  box-shadow: 0px 1px 6px #b2acac;
  z-index: 99;
  position: fixed;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: .5%;

  .navbar__logo {
    display: flex;
    justify-content: flex-end;
    text-align: center;

    .logo-img {
      width: 159px;
      height: 37px;
    }
  }

  .navbar__menu {
    display: none;
    align-items: center;
    justify-content: space-around;
    width: 60%;
    
    @media (min-width:900px) {
      display: flex;
    }
    @media (min-width:1100px) {
      width: 50%;
    }

    .menu {
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: center;
      // padding: 2% 10%;

      .menu__element {
        text-decoration: none;
        cursor: pointer;
        color: rgb(30, 29, 29);
        display: flex;
        text-align: center;
        font-size: 12px;
        padding-right: 0px;

        i {
          margin: -3px 2px;
          font-size: 20px;
        }

        &:hover {
          color: $content-color;
        } 
      }

    }
  }

  .navbar__icon {

    .icons {
      width: 100%;
      display: flex;
      justify-content: right;
      padding-right: 8%;
      align-items: center;

      .icon {
        border: 2px solid #cfd0f4;
        width: 40px;
        height: 35px;
        border-radius: 50%;
      }

      .setting {
        width: 20px;
        height: 20px;
        margin: 5px 6px;
      }

      .kart {
        width: 20px;
        height: 20px;
        margin: 5px 6px;
      }

      .icon-color {
        background-color: $content-color;
      }

      .hamburger {
        width: 30px;
        height: 30px;
        align-items: center;
        margin: 25px 0px 0px 12px;
        z-index: 100;
        cursor: pointer;
        display: none;

        @media (max-width:900px) {
          display: inline;
        }

        .bar {
          height: 3px;
          width: 100%;
          background-color: rgb(118, 120, 118);
          display: block;
          border-radius: 5px;
          transition: 0.3s ease;
        }

        #bar1 {
          transform: translateY(-4px);
        }

        #bar3 {
          transform: translateY(4px);
        }
      }
    }
  }
}

.side-menu {
  background-color: #5046e4;
  height: 686%;
  margin: 17% 5%;
  position: absolute;
  font-size: 20px;
  top: 0;
  left: 0;
  z-index: -1;
  width: 60%;
  display: grid;
  @media (min-width:900px) {
    display: inline;
  }

  .menu-item {
    a {
      color: white;
    }

    span {
      color: white;
    }
  }
}

.select-option {
  display: none;
  position: absolute;
  padding-top: 14%;
  @media (max-width:1000px) {
    padding-top: 20%;
  }

  .menu-opt {
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 6px 9px 0px #e6e0e0;
    padding: 12px 16px;
    text-decoration: none;
  }
}

.menu:hover .select-option {
  display: grid;
}