.section6 {
    display: flex;
    flex-wrap: wrap;
    padding: 50px 0px 80px 50px;
    @media (max-width:400px) {
        padding: 0px;
        width: 100vw;
    }
    .content {
        width: 34vw;
        padding: 30px;
        @media (max-width:1000px) {
            width: 70%;
            text-align: center;
            margin: auto;
        }
        @media (max-width:400px) {
            width: 95vw;
            // text-align: center;
            // margin: auto;
            // padding: 3%;
        }

        h1 {
            // padding: 2% 0%;
        }
        p { 
            color: rgb(152, 149, 149);
            // padding: 2% 0%;
            // line-height: 1.5;
        }
    }
    .cards {
        width: 55vw;
        background-color: white;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        // padding: 0% 6%;
        @media (max-width:1000px) {
            width: 95vw;
            text-align: center;
            margin: auto;
            // padding: 3%;
        }
        @media (max-width:400px) {
            width: 100vw;
            // text-align: center;
            // margin: auto;
            padding: 0%;
        }
        .card-heading{
            text-align: left;
            padding: 20px 13px 20px 10px;
            font-size: 23px;
        }
        .emi{
            text-align: left;
            padding: 13px 13px 22px 10px;
            font-size: 37px;
        }
        li{
            text-align: left;
            padding: 4px 30px;
            list-style: none;
            font-size: 18px;
        }
        button{
            margin: 4% 5%;
            float: left;
            @media (max-width:900px) {
                margin: 4% 0% ;
            }
        }

        .card1 {
            width: 300px;
            height: 400px;
            margin: 7px;
            border-radius: 10px;
            padding-left: 25px;
            border: 2px  solid rgb(241, 243, 238);
            box-shadow: 0px 2px 2px rgb(230, 228, 228);
            @media (max-width:400px) {
                width: 100vw;
            }
        }

        .card2 {
            width: 300px;
            height: 400px;
            margin: 7px;
            border-radius: 20px;
            padding-left: 25px;
            border: 2px  solid rgb(241, 243, 238);
            box-shadow: 0px 2px 2px rgb(230, 228, 228);
            // background-color: rgb(244, 241, 241);
            @media (max-width:500px) {
                width: 100vw;
                margin-bottom: 50px;
            }
        }

        .card2:hover {
            background-color: rgb(231, 228, 241);
            opacity: 1;
        }
        .card1:hover {
            background-color: rgb(231, 228, 241);
            opacity: 1;
        }
    }
}