$heading-color: rgb(46, 46, 46);
.section7 {
    width: 80%;
    // height: 400px;
    padding: 4% 10%;
    display: grid;
    grid-template-columns: auto auto;
    background-color: rgb(243, 244, 246);

    li {
        width: 80%;
        height: 5%;
        margin-left: 11%;
        font-size: 20px;
        color: $heading-color;
    }
    p {
        padding: 3%;
    }
}