$section-color: rgb(251, 252, 252);
.section3 {
    background-color: $section-color;
    width: 100%;
    align-content: center;
  p {
    font-size: 20px;
    color: rgb(152, 149, 149);
    line-height: 1.5;
  }
  
  h1 {
    font-size: 33px;
    margin: 5% 0% 3%;
  }
}
  
  .how-it-work {
    width: 40%;
    margin: auto;
    padding-top: 3%;
    text-align: center;
    @media (max-width:1000px) {
      width: 55%;
    }
    @media (max-width:1000px) {
      width: 95%;
    }
  }
  
  .way-to-build-website {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  
    img {
      width: 40%;
      @media (max-width:1000px) {
        width: 70%;
        padding: 0% 5%;
      }
    }
  
    .content {
      width: 50%;
      padding: 3% 5%;
      background-color: $section-color;
      @media (max-width:1000px) {
        width: 90%;
        padding: 0% 5% 5%;
      }
      @media (max-width:1000px) {
        width: 95%;
        padding: 0% 5% 20%;
      }
  
    li {
      display: list-item;
      list-style-type: symbols();
      margin: 3% 2%;
      font-size: 20px;
      color: rgb(152, 149, 149);
    }

    #find-out-more {
      font-size: 20px;
      margin-top: 5%;
      text-decoration: none;
    }
  }
  }