$heading-color: rgb(46, 46, 46);
.section7 {
    width: 80%;
    padding: 4% 10%;
    display: grid;
    grid-template-columns: auto auto;
    background-color: rgb(243, 244, 246);
    @media (max-width:900px) {
        width: 95%;
        padding: 4% 2%;
        grid-template-columns: auto;
    }
    @media (max-width:600px) {
        width: 100vw;
        padding: 80px 0px;
        grid-template-columns: auto;
    }
    .help-icon{
        position: absolute;
        margin: 12px 0px; 

    }

    li {
        width: 80%;
        // height: 5%;
        list-style: none;
        margin-left: 30px;
        font-size: 20px;
        color: $heading-color;
        @media (max-width:600px) {
            width: 83vw;
        }  
    }
    p {
        padding: 3%;
        @media (max-width:600px) {
            width: 90vw;
            padding: 0%;
        }
    }

}