.section6 {
    height: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 5%;

    .content {
        width: 34%;
        padding: 3%;
        @media (max-width:1000px) {
            width: 70%;
            text-align: center;
            margin: auto;
            padding: 3%;
        }
        @media (max-width:500px) {
            width: 90%;
            text-align: center;
            margin: auto;
            padding: 3%;
        }

        h1 {
            padding: 2% 0%;
            font-size: 30px;
        }
        p { 
            font-size: 20px;
            color: rgb(152, 149, 149);
            padding: 2% 0%;
            line-height: 1.5;
        }
    }
    .cards {
        width: 45%;
        background-color: white;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 0% 6%;
        @media (max-width:1000px) {
            width: 95%;
            text-align: center;
            margin: auto;
            padding: 3%;
        }
        @media (max-width:500px) {
            width: 100%;
            text-align: center;
            margin: auto;
            padding: 3%;
        }

        .card1 {
            width: 45%;
            height: 400px;
            margin: 7px;
            border-radius: 20px;
            background-color: rgb(244, 241, 241);
            @media (max-width:500px) {
                width: 100%;
                text-align: center;
                margin: auto;
                padding: 3%;
                margin: 5%;
            }
            .card-heading{
                padding: 10% 0% 0% 12%;
                font-size: 23px;
            }
            .emi{
                padding: 10% 0% 0% 12%;
                font-size: 37px;
            }
            ul{
                padding: 4% 20% ;
            }
            li{
                padding: 4px;
            }
            button{
                margin: 4% 13% ;
            }
        }

        .card2 {
            width: 45%;
            height: 400px;
            margin: 7px;
            border-radius: 20px;
            background-color: rgb(244, 241, 241);
            @media (max-width:500px) {
                width: 100%;
                text-align: center;
                margin: auto;
                padding: 3%;
                margin: 5%;
            }
            .card-heading{
                padding: 10% 0% 0% 12%;
                font-size: 23px;
            }
            .emi{
                padding: 10% 0% 0% 12%;
                font-size: 37px;
            }
            ul{
                padding: 4% 20% ;
            }
            li{
                padding: 4px;
            }
            button{
                margin: 4% 13% ;
            }
        }

        .card2:hover {
            background-color: rgb(231, 228, 241);
            opacity: 1;
        }
        .card1:hover {
            background-color: rgb(231, 228, 241);
            opacity: 1;
        }
    }
}