$paragraph-color: #9fadbe;

.sec-5 {
  background-color: white;
    padding: 2%;

  .sec5-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px 0px 20px;
    @media (min-width:500px) {
      padding: 3% 30%;
    }
    .sec5-heading {
      padding: 20px 0px;
      font-size: 15px;
      color: #3f50ea;
      font-weight: 420;

      @media (min-width:500px) {
        font-size: medium;
      }
    }
  }

  .scroll-button {
    width: 40px;
    height: 40px;
    position: absolute;
    border-radius: 100%;
    border: 2px solid #ffffff;
  }

  .prev_btn {
    display: none;
    margin: 6% 0% 0% -1%;
    @media (min-width:900px) {
      display: block;
    }

    .angle {
      color: black;
      transform: rotate(135deg);
    }

  }

  .next_btn {
    display: none;
    @media (min-width:900px) {
      display: block;
    }
    margin: 6% 10% 0% 87%;
 

    .angle {
      color: black;
    }
  }
}

.scroll-wrapper {
  display: flex;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.slide {
  list-style: none;
  margin: 10px;

  @media (max-width:500px) {}

  .profile-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 26px 13px;
    text-align: center;
    width: 88vw;
    align-items: center;
    box-shadow: 0px 0px 6px #dddada;

    @media (min-width:500px) {
      width: 44vw;
    }

    @media (min-width:900px) {
      flex-direction: row;
      text-align: left;
      padding: 0px 0px;
      width: 43vw;
    }

    .sec5-mob-img {
      width: 132px;
      border-radius: 50%;
      padding-bottom: 40px;
      margin: auto;

      @media (min-width:900px) {
        width: 175px;
        border-radius: 0%;
        padding-bottom: 0px;
      }
    }

    .profile-details {
      display: flex;
      flex-direction: column;
      padding-left: 20px;
      justify-content: flex-start;

      p {
        padding: 10px;
        color: $paragraph-color;
      }

      h3 {
        padding: 10px
      }

      h4 {
        padding: 10px;
        color: $paragraph-color;
      }
    }
  }
}