$section-color: rgb(251, 252, 252);
$content-color: rgb(80, 70, 228);

.section3 {
  background-color: $section-color;
  align-content: center;

  p {
    color: rgb(152, 149, 149);
    line-height: 1.5;
  }

  h1 {
    margin: 5% 0% 3%;
  }
}

.how-it-work {
  width: 100%;
  margin: auto;
  padding-top: 3%;
  text-align: center;

  @media (min-width:1000px) {
    width: 20%;
  }

  @media (min-width:600px) {
    width: 80%;
  }
  .sec3-p{
    @media (min-width:1000px) {
      width: 50%;
      margin: auto;
    }
  }
}

.way-to-build-website {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  img {
    width: 100%;
    padding: 0px 0px 0px 0px;
    margin: 35px 0px;

    @media (min-width:1000px) {
      width: 35%;
      padding: 0px 0px 80px 80px;
    }
  }

  .content {
    width: 100%;
    padding: 0px 5px 30px 10px;

    @media (min-width:600px) {
      width: 90%;
      padding: 0% 5% 5%;
    }
    @media (min-width:1000px) {
      width: 40%;
      padding: 3% 5%;
      background-color: $section-color;
    }

    li {
      display: list-item;
      list-style-type: symbols();
      margin: 20px 35px;
      font-size: 18px;
      color: rgb(152, 149, 149);

      @media (min-width:1000px) {
        width: 100%;
      }
    }

    .find-more-link {
      font-size: 17px;
      margin-top: 5%;
      text-decoration: none;
      color: $content-color;
      list-style: none;
    }
  }
}