.section4 {
  background-color: $section-color;
  .gl-grid {
    display: flex;
    justify-content: space-between;
    background-color: $section-color;
    flex-wrap: wrap-reverse;

    .content {
      width: 95%;
      margin: 20px 20px;
      background-color: $section-color;

      @media (min-width:850px) {
        width: 40%;
        padding: 12% 2% 0% 5%;
      }

      .sec4-heading {
        padding: 18% 0% 2%;
        padding-left: 0%;

        @media (min-width:1000px) {
          padding: 5% 0% 1%;
        }
      }

      .sec4-li {
        width: 92%;
        display: list-item;
        margin: 4% 8%;
        font-size: 18px;
        color: #989595;

        @media (min-width:600px) {}
      }

      .find-more-link {
        font-size: 17px;
        margin-top: 5%;
        text-decoration: none;
        color: $content-color;
        list-style: none;
      }
    }
  }

  .form-section {
    width: 100%;
    padding-bottom: 2%;

    @media (min-width:1050px) {
      width: 45%;
      height: auto;
    }

    .form {
      margin: 8px;
      width: 90%;
      margin: auto;
      // margin: 70px 80px;
      border-radius: 8px;
      background-color: #ffffff;
      box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;

      @media (min-width:850px) {
        width: 40%;
      }

      @media (min-width:600px) {
        width: 462px;
      }

      .mobile-img {
        width: 94%;
        height: auto;

        @media (min-width:600px) {
          width: 450px;
          height: auto;
        }
      }

      .input-form {
        margin: 3%;

        @media (min-width:600px) {
          margin: 5%;
        }

        input {
          width: 87%;
          height: 34px;
          font-size: 18px;
          padding-left: 12%;
          margin: 5px 0px;
          border: 2px solid #e0e4e8;
          border-radius: 5px;

          @media (min-width:600px) {
            width: 100%;
            height: 43px;
            font-size: 16px;
            padding-left: 9%;
          }
        }

        label {
          font-size: 18px;
          color: #1d1c1cd4;

          @media (min-width:600px) {
            font-size: 19px;
          }
        }

        label:after {
          color: #e32;
          content: ' *';
          display: inline;

          // @media (min-width:600px) {}
        }

        .key-icon {
          position: absolute;
          width: 22px;
          height: 20px;
          margin: 14px 11px;

          // @media (min-width:600px) {
          //   width: 23px;
          //   height: 21px;
          //   margin: 26px 11px;
          // }
        }

        button {
          font-size: 20px;
          height: 40px;
          width: 100%;
          color: white;
          background-color: rgb(63, 80, 234);
          border: 2px solid white;
          border-radius: 8px;
          margin: 5px 0px;

          @media (min-width:600px) {
            font-size: 22px;
            height: 51px;
          }
        }

        button:hover {
          background-color: rgb(39, 58, 229);
        }
      }
    }
  }
}