.section8 {
    padding: 10% 0%;
    align-items: center;
    background-color: rgb(243, 244, 246);

    .content {
        margin: auto;
        width: 50%;
        text-align: center;
        @media (max-width:900px) {
            width: 75%;
        }

        h1 {
            text-align: center;
        }

        p {
            text-align: center;
        }
        .btn{
            margin-top: 25px;
        }
    }
}