.section5 {
  height: 800px;
  background-color: white;
  align-items: center;

  .heading {
    width: 40%;
    padding: 6% 30% 4%;
    text-align: center;
    padding-top: 6%;

    @media (max-width:1000px) {
      width: 60%;
      padding: 6% 18% 4%;
    }

    @media (max-width:500px) {
      width: 100%;
      padding: 6% 0% 4%;
    }

    h3 {
      padding: 3%;
      color: rgb(63, 80, 234)
    }

    h1 {
      font-size: 30px;
    }
  }
}

#scroll-box {
  margin: 0% 12%;
  max-width: auto;

  button {
    width: 45px;
    height: 45px;
    border-radius: 100%;
  }
}

#scroll-wrapper {
  width: 94%;
  // height: 260px;
  display: flex;
  justify-content: space-around;
  /* text-align: center; */
  padding: 0px 0%;
  /* background-color: #e32; */
  /* display: none; */
  overflow-x: scroll;
}

li {
  margin: 2% .5%;
  font-size: 20px;
  color: #989595;
}

.slide {
  display: inline;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  border-radius: 5px;
  margin-left: 20px;

  .profile-card {
    display: flex;
    width: 550px;
    flex-wrap: wrap;
    img {
      width: 35%;
      @media (max-width:500px) {
        width: 80%;
      }
    }
    p {
      width: 59%;
      padding: 2%;
      @media (max-width:500px) {
        width: 80%;
        padding: 2%;
      }
    }
    span{
      font-size: 25px;
    }
  }
}
.slide:first-child{
  margin-left: 52%;
  @media (max-width:1000px) {
    margin-left: 200%;
  }
  @media (max-width:500px) {
    margin-left: 230%;
  }
}