$heading-color: rgb(46, 46, 46);

.sec-7 {
    padding: 4% 10%;
    display: grid;
    min-height: 411px;
    align-items: center;
    grid-template-columns: auto;

    @media (min-width:900px) {
        grid-template-columns: auto auto;
    }

    .help-icon {
        position: absolute;
        margin: 13px 7px;
        height: 20px;
        @media (min-width:600px) {
            margin: 13px 0px;
            height: 25px;
        }
    }

    .sec7-li {
        list-style: none;
        width: 90%;
        margin: 12px 0px 13px 30px;
        font-size: 21px;
        color: $heading-color;
        @media (min-width:600px) {
            font-size: 20px;
        }
    }

    .paragraph--faq {
        padding: 0px;
    }

}