//  {
//     background-color: rgb(243, 244, 246);
//  }
.sec-8 {
    padding: 4% 0%;
    align-items: center;

    .content {
        margin: auto;
        width: 95%;
        text-align: center;

        @media (min-width:600px) {
            width: 70%;
        }

        @media (min-width:900px) {
            width: 50%;
        }

        h1 {
            text-align: center;
        }

        .sec8-p {
            text-align: center;
            font-size: 18px;
            color: $paragraph-color;
            margin: 3% 0%;
            line-height: 1.5;
            padding: 2% 0%;

            @media (max-width:1000px) {
                font-size: 24px;
            }

            @media (max-width:600px) {
                font-size: 16px;
            }
        }

        .btn {
            margin-top: 25px;
        }

        .phone-call {
            width: 18px;
            position: absolute;
            margin: 3px -22px;
        }
    }
}