.sec-4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $section-color;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-around;
  padding: 42px 0px;

  @media (min-width:1000px) {
    flex-direction: row;
  }

  .content {
    width: 95%;
    background-color: $section-color;
    padding-top: 40px;
    margin-top: 10px;

    @media (min-width:1000px) {
      padding-top: 0px;
      margin-top: 0px;
      width: 45%;
    }

    .sec4-li {
      width: 92%;
      display: list-item;
      margin: 11px 26px;
      font-size: 17px;
      color: $paragraph-color;
      list-style: none;

      @media (min-width:600px) {
        font-size: 13px;
      }
    }
  }

  // .form-section {
  // width: 100%;
  // padding: 2% 0%;

  .form {
    // width: 90%;
    // margin: auto;
    // height: 300px;
    padding: 16px;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0px 0px 4px #c1bebe;

    &__img {
      width: 94%;
      height: auto;

    }

    // @media (min-width:600px) {
    //   height: auto;
    // }

    // &__input {
    //   margin: 3%;

    //   @media (min-width:600px) {
    //     margin: 5%;
    //   }
    &__icon {
      display: flex;
      justify-content: flex-start;
      align-items: center;

    }

    &__input {
      width: 100%;
      height: 43px;
      font-size: 15px;
      padding-left: 30px;
      border: 1px solid #e4e6ea;
      border-radius: 5px;

      @media (min-width:600px) {
        width: 100%;
        height: 37px;
        font-size: 13px;
      }
    }

    &__label {
      padding: 0px 0px;
      font-size: 15px;
      color: #020101d4;
      display: block;
      margin-bottom: -10px;

      @media (min-width:600px) {
        font-size: 13px;
        margin-bottom: -9px;
      }
    }
    &__btn{
      width: 100%;
      height: 37px;
    }

    label:after {
      color: #e32;
      content: ' *';
      display: inline;
    }

    .key-icon {
      position: absolute;
      width: 21px;
      height: 14px;
      padding-left: 6px;

      @media (min-width:600px) {
        width: 21px;
        height: 14px;
        padding-left: 6px;
      }
    }

    button:hover {
      background-color: rgb(39, 58, 229);
    }

    .name-error {
      font-size: 11px;
      color: red;
      margin: 0px;
      padding: 0px;
      height: 15px;
    }

    // }
    @media (min-width:600px) {
      width: 345px;
    }
  }

  //   @media (min-width:1000px) {
  //     width: 45%;
  //     height: auto;
  //   }
  // }

  .submit-form {
    display: none;
    margin-left: 30%;
    width: 400px;
    height: 250px;
    position: absolute;
    align-items: center;
    box-shadow: 0px 0px 5px #a09797;
    z-index: 5;
    background-color: #f1eeee;

    .close-btn {
      float: right;
      margin: 10px;
      width: 50px;
      border: none;
      font-size: 30px;
    }

    .thankyou {
      margin-top: 20%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
    }

    h3 {
      font-size: 30px;
      padding-bottom: 10px;
    }

    p {
      font-size: 18px;
    }
  }
}