.navbar {
  display: flex;
  position: fixed;
  width: 100vw;
  height: 70px;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
  box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset; }

.nav-logo {
  width: 20%;
  text-align: center;
  margin-top: 10px; }
  @media (max-width: 850px) {
    .nav-logo {
      width: 50%; } }
  .nav-logo .logo-img {
    width: 159px;
    height: 37px; }

.nav-list {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around; }
  @media (max-width: 850px) {
    .nav-list {
      display: none; } }
  .nav-list li {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px; }
    .nav-list li a {
      text-decoration: none;
      color: black;
      text-align: center;
      font-size: 15px;
      padding-right: 0px; }
      .nav-list li a i {
        white-space: 2px; }
    .nav-list li a:hover {
      color: #5046e4; }

.right-nav {
  width: 20%; }
  @media (max-width: 850px) {
    .right-nav {
      width: 50%; } }
  .right-nav .icon-width {
    width: 100%;
    display: flex;
    justify-content: center; }
  .right-nav .nav-icon {
    border: 2px solid #cfd0f4;
    width: 42px;
    height: 42px;
    margin-top: 10px;
    border-radius: 50%; }
    .right-nav .nav-icon img {
      width: 24px;
      margin: 10px 8px; }
  .right-nav #setting {
    align-items: center;
    background-color: #f3f4f6; }
  .right-nav #kart {
    margin-left: 3px;
    background-color: #5046e4; }
  .right-nav #hamburger {
    display: none; }
    @media (max-width: 850px) {
      .right-nav #hamburger {
        display: inline; } }

.section1 {
  display: flex;
  justify-content: space-around;
  height: auto;
  flex-wrap: wrap;
  background-color: white; }

#top-content {
  padding: 15% 0% 14% 4%;
  width: 45%; }
  @media (max-width: 900px) {
    #top-content {
      width: 100%;
      padding: 20% 5% 6%; } }
  @media (max-width: 500px) {
    #top-content {
      width: 100%;
      padding: 40% 5% 6%; } }
  #top-content h1 {
    letter-spacing: 2px;
    color: #2e2e2e;
    font-size: 50px; }
    @media (max-width: 500px) {
      #top-content h1 {
        font-size: 38px; } }
  #top-content .sub-title {
    color: #4c42e0;
    padding-top: 0%; }
  #top-content .banner-button {
    padding-top: 3%;
    margin-bottom: 3%; }
  #top-content button:first-child {
    background-color: #4c42e0;
    color: white;
    margin-right: 1.5%; }

#top-image {
  width: 40%;
  padding: 7% 0% 4%; }
  @media (max-width: 900px) {
    #top-image {
      width: 90%;
      padding: 0% 5% 5% 0%; } }

hr {
  width: 100%; }

.section2 {
  height: auto;
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  overflow: auto;
  margin-left: 5%;
  background-color: white; }
  .section2 .mnc-logo {
    list-style: none;
    align-items: center;
    max-width: 250px; }
    .section2 .mnc-logo img {
      width: 55%;
      padding: 10%;
      padding-left: 23%; }

.section3 {
  background-color: #fbfcfc;
  width: 100%;
  align-content: center; }
  .section3 p {
    font-size: 20px;
    color: #989595;
    line-height: 1.5; }
  .section3 h1 {
    font-size: 33px;
    margin: 5% 0% 3%; }

.how-it-work {
  width: 40%;
  margin: auto;
  padding-top: 3%;
  text-align: center; }
  @media (max-width: 1000px) {
    .how-it-work {
      width: 55%; } }
  @media (max-width: 1000px) {
    .how-it-work {
      width: 95%; } }

.way-to-build-website {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }
  .way-to-build-website img {
    width: 40%; }
    @media (max-width: 1000px) {
      .way-to-build-website img {
        width: 70%;
        padding: 0% 5%; } }
  .way-to-build-website .content {
    width: 50%;
    padding: 3% 5%;
    background-color: #fbfcfc; }
    @media (max-width: 1000px) {
      .way-to-build-website .content {
        width: 90%;
        padding: 0% 5% 5%; } }
    @media (max-width: 1000px) {
      .way-to-build-website .content {
        width: 95%;
        padding: 0% 5% 20%; } }
    .way-to-build-website .content li {
      display: list-item;
      list-style-type: symbols();
      margin: 3% 2%;
      font-size: 20px;
      color: #989595; }
    .way-to-build-website .content #find-out-more {
      font-size: 20px;
      margin-top: 5%;
      text-decoration: none; }

.section4 {
  display: flex;
  justify-content: space-between;
  background-color: #f3f4f6;
  flex-wrap: wrap-reverse; }
  .section4 .content {
    padding: 6% 2% 0% 5%;
    width: 45%;
    background-color: #f3f4f6; }
    @media (max-width: 1000px) {
      .section4 .content {
        padding: 0% 0% 15%; } }
    .section4 .content h1 {
      padding: 5% 0% 1%;
      padding-left: 0%;
      font-size: 35px; }
      @media (max-width: 1000px) {
        .section4 .content h1 {
          padding: 0% 0% 1%; } }
    .section4 .content a {
      text-decoration: none;
      font-size: 20px; }
    @media (max-width: 1000px) {
      .section4 .content {
        width: 100%;
        padding: 2% 2% 15% 5%; } }

.form-section {
  width: 45%;
  height: auto; }
  @media (max-width: 1050px) {
    .form-section {
      width: 90%; } }
  .form-section .form {
    width: 75%;
    margin: 14% 18%;
    background-color: white;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em; }
    @media (max-width: 1050px) {
      .form-section .form {
        width: 75%; } }
    @media (max-width: 500px) {
      .form-section .form {
        margin: 14% 8%;
        width: 95%; } }
    .form-section .form .mobile-img {
      width: 91%;
      padding: 2%; }
    .form-section .form .input-form {
      margin: 0% 3%; }
      .form-section .form .input-form input {
        width: 85%;
        height: 36px;
        margin: 3% 0%;
        font-size: 18px;
        padding-left: 4%; }
      .form-section .form .input-form label:after {
        color: #e32;
        content: ' *';
        display: inline; }
      .form-section .form .input-form button {
        width: 90%;
        font-size: 20px;
        padding: 2%;
        margin: 4% 0%;
        color: white;
        background-color: #3f50ea;
        border: 2px solid white;
        border-radius: 8px; }
      .form-section .form .input-form button:hover {
        background-color: #273ae5; }

.section5 {
  height: 800px;
  background-color: white;
  align-items: center; }
  .section5 .heading {
    width: 40%;
    padding: 6% 30% 4%;
    text-align: center;
    padding-top: 6%; }
    @media (max-width: 1000px) {
      .section5 .heading {
        width: 60%;
        padding: 6% 18% 4%; } }
    @media (max-width: 500px) {
      .section5 .heading {
        width: 100%;
        padding: 6% 0% 4%; } }
    .section5 .heading h3 {
      padding: 3%;
      color: #3f50ea; }
    .section5 .heading h1 {
      font-size: 30px; }

#scroll-box {
  width: 84%;
  height: 260px;
  margin: 0% 10%; }
  #scroll-box button {
    width: 45px;
    height: 45px;
    border-radius: 100%; }

#scroll-wrapper {
  width: 94%;
  height: 260px;
  display: flex;
  justify-content: space-around;
  /* text-align: center; */
  padding: 0px 0%;
  /* background-color: #e32; */
  /* display: none; */
  overflow-x: scroll; }

li {
  margin: 2% .5%;
  font-size: 20px;
  color: #989595; }

.slide {
  display: inline;
  border: 1.5px solid #d8d6d3; }
  .slide div {
    display: flex; }
  .slide img {
    width: 261px; }
  .slide p {
    width: 350px;
    padding: 4%; }

.section6 {
  height: auto;
  display: flex;
  flex-wrap: wrap;
  padding: 5%; }
  .section6 .content {
    width: 34%;
    padding: 3%; }
    @media (max-width: 1000px) {
      .section6 .content {
        width: 70%;
        text-align: center;
        margin: auto;
        padding: 3%; } }
    @media (max-width: 500px) {
      .section6 .content {
        width: 90%;
        text-align: center;
        margin: auto;
        padding: 3%; } }
    .section6 .content h1 {
      padding: 2% 0%;
      font-size: 30px; }
    .section6 .content p {
      font-size: 20px;
      color: #989595;
      padding: 2% 0%;
      line-height: 1.5; }
  .section6 .cards {
    width: 48%;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0% 6%; }
    @media (max-width: 1000px) {
      .section6 .cards {
        width: 80%;
        text-align: center;
        margin: auto;
        padding: 3%; } }
    @media (max-width: 500px) {
      .section6 .cards {
        width: 100%;
        text-align: center;
        margin: auto;
        padding: 3%; } }
    .section6 .cards .card1 {
      width: 41%;
      height: 430px;
      background-color: #ca7622;
      /* border: 2px solid rgb(197, 188, 188); */ }
      @media (max-width: 500px) {
        .section6 .cards .card1 {
          width: 100%;
          text-align: center;
          margin: auto;
          padding: 3%;
          margin: 5%; } }
    .section6 .cards .card2 {
      width: 41%;
      left: -200px;
      top: 200px;
      height: 417px;
      background-color: #411506; }
      @media (max-width: 500px) {
        .section6 .cards .card2 {
          width: 90%;
          text-align: center;
          margin: auto;
          padding: 3%;
          margin: 5%; } }
    .section6 .cards .card2:hover {
      width: 41%;
      height: 435px;
      background-color: #fbf6f3;
      opacity: 1; }

.section7 {
  width: 80%;
  padding: 4% 10%;
  display: grid;
  grid-template-columns: auto auto;
  background-color: #f3f4f6; }
  @media (max-width: 900px) {
    .section7 {
      width: 95%;
      padding: 4% 2%;
      grid-template-columns: auto; } }
  .section7 li {
    width: 80%;
    height: 5%;
    margin-left: 11%;
    font-size: 20px;
    color: #2e2e2e; }
  .section7 p {
    padding: 3%; }

.section8 {
  padding: 10% 0%;
  align-items: center;
  background-color: #f3f4f6; }
  .section8 .content {
    margin: auto;
    width: 50%;
    text-align: center; }
    @media (max-width: 900px) {
      .section8 .content {
        width: 75%; } }
    .section8 .content h1 {
      font-size: 32px;
      text-align: center; }
    .section8 .content p {
      font-size: 20px;
      text-align: center; }

.footer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  color: white;
  background-color: #192130; }
  .footer div {
    width: 30%; }
  .footer .aboutus-wrapper {
    padding: 7% 0% 7% 5%; }
    @media (max-width: 1000px) {
      .footer .aboutus-wrapper {
        width: 80%;
        padding: 17% 5% 0%; } }
    .footer .aboutus-wrapper .footer-logo {
      width: 250px; }
      .footer .aboutus-wrapper .footer-logo img {
        width: 220px; }
    .footer .aboutus-wrapper p {
      font-size: 18px;
      letter-spacing: 1px;
      color: #fdfafa;
      padding: 2% 0%;
      line-height: 1.75; }
  .footer .service-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 7% 0%;
    display: flex;
    justify-content: space-around; }
    @media (max-width: 1000px) {
      .footer .service-wrapper {
        padding: 3% 0%;
        width: 70%; } }
    @media (max-width: 500px) {
      .footer .service-wrapper {
        padding: 3% 0%;
        width: 100%; }
        .footer .service-wrapper .company {
          width: 80%; }
        .footer .service-wrapper .usefull-links {
          width: 80%; } }
    .footer .service-wrapper h3 {
      padding-bottom: 17%; }
      @media (max-width: 1000px) {
        .footer .service-wrapper h3 {
          padding-bottom: 7%;
          font-size: 25px; } }
    .footer .service-wrapper li {
      margin: 10%;
      letter-spacing: 1px;
      color: white; }
      @media (max-width: 1000px) {
        .footer .service-wrapper li {
          margin: 8%;
          font-size: 20px; } }
      @media (max-width: 500px) {
        .footer .service-wrapper li {
          margin: 5%;
          font-size: 20px; } }
  .footer .subscribe-wrapper {
    padding: 7% 5% 7% 0%; }
    @media (max-width: 1000px) {
      .footer .subscribe-wrapper {
        width: 80%;
        padding: 7% 0%; } }
    .footer .subscribe-wrapper .footer-p {
      padding: 0% 20%;
      width: 83%; }
      @media (max-width: 1000px) {
        .footer .subscribe-wrapper .footer-p {
          padding: 0% 0%; } }
      .footer .subscribe-wrapper .footer-p h3 {
        padding-bottom: 25px; }
        @media (max-width: 1000px) {
          .footer .subscribe-wrapper .footer-p h3 {
            padding-bottom: 0%;
            font-size: 30px; } }
      .footer .subscribe-wrapper .footer-p p {
        color: white; }
      .footer .subscribe-wrapper .footer-p label {
        font-size: 19px;
        margin: 2%; }
      .footer .subscribe-wrapper .footer-p label:after {
        color: #e32;
        content: ' *';
        display: inline; }
      .footer .subscribe-wrapper .footer-p input {
        font-size: 20px;
        color: white;
        background-color: #27324b;
        border: #27324b;
        width: 284px;
        height: 44px;
        margin: 2%; }
      .footer .subscribe-wrapper .footer-p ::placeholder {
        color: white;
        padding-left: 10px; }
      .footer .subscribe-wrapper .footer-p .btn {
        width: 284px;
        margin: 2%; }

@use 'base';
* {
  margin: 0px;
  padding: 0px;
  max-width: 100%;
  font-family: 'Trebuchet MS', sans-serif; }

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: table-cell;
  width: 7px;
  height: 7px; }

h1 {
  letter-spacing: 2px;
  color: #2e2e2e; }

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg); }

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg); }

p {
  font-size: 20px;
  color: #989595;
  margin: 3% 0%;
  line-height: 1.5;
  padding: 2% 0%; }
  @media (max-width: 1000px) {
    p {
      font-size: 24px; } }

span {
  color: #4c42e0; }

.btn {
  height: 47px;
  width: 199px;
  font-size: 18px;
  border: 2px solid #4c42e0;
  border-radius: 8px;
  margin-bottom: 3%;
  cursor: pointer;
  color: #4c42e0; }
  @media (max-width: 500px) {
    .btn {
      height: 50px;
      width: 160px;
      font-size: 17px; } }

.doc-btn {
  width: 225px; }
  .doc-btn :hover {
    background-color: #4c42e0;
    color: white; }
  @media (max-width: 500px) {
    .doc-btn {
      width: 200px; } }

.btn:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; }

.btn-color {
  background-color: #4c42e0;
  color: white; }
