.header {
  width: 100%;
  height: 55px;
  background-color: white;
  box-shadow: 0px 1px 6px #b2acac;
  z-index: 99;
  position: fixed; }

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: .5%; }
  .navbar .navbar__logo {
    display: flex;
    justify-content: flex-end;
    text-align: center; }
    .navbar .navbar__logo .logo-img {
      width: 159px;
      height: 37px; }
  .navbar .navbar__menu {
    display: none;
    align-items: center;
    justify-content: space-around;
    width: 60%; }
    @media (min-width: 900px) {
      .navbar .navbar__menu {
        display: flex; } }
    @media (min-width: 1100px) {
      .navbar .navbar__menu {
        width: 50%; } }
    .navbar .navbar__menu .menu {
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: center; }
      .navbar .navbar__menu .menu .menu__element {
        text-decoration: none;
        cursor: pointer;
        color: #1e1d1d;
        display: flex;
        text-align: center;
        font-size: 11px;
        padding-right: 0px; }
        .navbar .navbar__menu .menu .menu__element i {
          margin: -3px 2px;
          font-size: 20px; }
        .navbar .navbar__menu .menu .menu__element:hover {
          color: #5046e4; }
  .navbar .navbar__icon .icons {
    width: 100%;
    display: flex;
    justify-content: right;
    padding-right: 8%;
    align-items: center; }
    .navbar .navbar__icon .icons .icon {
      border: 2px solid #cfd0f4;
      width: 40px;
      height: 35px;
      margin: 0px 3px;
      border-radius: 50%; }
    .navbar .navbar__icon .icons .setting {
      width: 20px;
      height: 20px;
      margin: 5px 6px; }
    .navbar .navbar__icon .icons .kart {
      width: 20px;
      height: 20px;
      margin: 5px 6px; }
    .navbar .navbar__icon .icons .icon-color {
      background-color: #5046e4; }
    .navbar .navbar__icon .icons .hamburger {
      width: 30px;
      height: 30px;
      align-items: center;
      margin: 25px 0px 0px 12px;
      z-index: 100;
      cursor: pointer;
      display: none; }
      @media (max-width: 900px) {
        .navbar .navbar__icon .icons .hamburger {
          display: inline; } }
      .navbar .navbar__icon .icons .hamburger .bar {
        height: 3px;
        width: 100%;
        background-color: #767876;
        display: block;
        border-radius: 5px;
        transition: 0.3s ease; }
      .navbar .navbar__icon .icons .hamburger #bar1 {
        transform: translateY(-4px); }
      .navbar .navbar__icon .icons .hamburger #bar3 {
        transform: translateY(4px); }

.side-menu {
  background-color: #5046e4;
  height: 686%;
  margin: 17% 5%;
  position: absolute;
  font-size: 20px;
  top: 0;
  left: 0;
  z-index: -1;
  width: 60%;
  display: grid; }
  @media (min-width: 900px) {
    .side-menu {
      display: inline; } }
  .side-menu .menu-item a {
    color: white; }
  .side-menu .menu-item span {
    color: white; }

.select-option {
  display: none;
  position: absolute;
  padding-top: 14%; }
  @media (max-width: 1000px) {
    .select-option {
      padding-top: 20%; } }
  .select-option .menu-opt {
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 6px 9px 0px #e6e0e0;
    padding: 12px 16px;
    text-decoration: none; }

.menu:hover .select-option {
  display: grid; }

.top-banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding-top: 100px;
  padding-bottom: 5%;
  background-color: white; }
  @media (min-width: 1000px) {
    .top-banner {
      flex-direction: row; } }
  .top-banner .top-banner__content {
    padding-top: 40px; }
    @media (min-width: 1000px) {
      .top-banner .top-banner__content {
        flex-direction: row;
        width: 48%;
        padding-top: 0px; } }
    .top-banner .top-banner__content .heading--topBanner {
      letter-spacing: 2px;
      font-size: 39px; }
      @media (min-width: 600px) {
        .top-banner .top-banner__content .heading--topBanner {
          font-size: 45px; } }
    .top-banner .top-banner__content .banner-button {
      padding-top: 3%;
      margin-bottom: 3%;
      display: flex;
      flex-direction: column; }
      @media (min-width: 600px) {
        .top-banner .top-banner__content .banner-button {
          flex-direction: row; } }
      .top-banner .top-banner__content .banner-button .btn--topBanner {
        width: 200px;
        margin-right: 10px; }
  .top-banner .top-image {
    padding: 30px 0px; }
    @media (min-width: 1000px) {
      .top-banner .top-image {
        width: 38%; } }
    .top-banner .top-image .image {
      width: 100%; }

.section {
  width: 100%;
  border: 2px solid #f4f2f2;
  background-color: white; }
  .section .sec2-logo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap; }
    .section .sec2-logo .mnc-logo {
      list-style: none;
      align-items: center;
      max-width: 200px;
      min-width: 150px; }
      .section .sec2-logo .mnc-logo .sec2-img {
        width: 55%;
        margin: 18%; }

.logo-top-border {
  border-top: 1px solid #edeaea; }

.sec-3 {
  background-color: #fbfcfc; }
  .sec-3 .sec3-h1 {
    margin: 5% 0% 3%; }

.how-it-work {
  width: 100%;
  margin: auto;
  padding-top: 3%;
  text-align: center; }
  @media (min-width: 600px) {
    .how-it-work {
      width: 80%; } }
  @media (min-width: 1000px) {
    .how-it-work {
      width: 41%; } }
  .how-it-work .sec3-p {
    padding: 10px; }
    @media (min-width: 1000px) {
      .how-it-work .sec3-p {
        width: 50%;
        margin: auto; } }

.way-to-build-website {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; }
  .way-to-build-website .sec-img {
    width: 100%;
    padding: 0px 0px 0px 0px;
    margin: 35px 0px; }
    @media (min-width: 1000px) {
      .way-to-build-website .sec-img {
        width: 35%;
        padding: 0px 0px 80px 80px; } }
  .way-to-build-website .content {
    width: 100%;
    padding: 0px 5px 30px 10px; }
    @media (min-width: 600px) {
      .way-to-build-website .content {
        width: 90%;
        padding: 0% 5% 5%; } }
    @media (min-width: 1000px) {
      .way-to-build-website .content {
        width: 40%;
        padding: 3% 5%;
        background-color: #fbfcfc; } }
    .way-to-build-website .content .sec3-p2 {
      font-size: 18px;
      color: #9fadbe;
      margin: 3% 0%;
      line-height: 1.5;
      padding: 2% 0%; }
      @media (max-width: 1000px) {
        .way-to-build-website .content .sec3-p2 {
          font-size: 24px; } }
      @media (max-width: 600px) {
        .way-to-build-website .content .sec3-p2 {
          font-size: 16px; } }
    .way-to-build-website .content .sec3-li {
      list-style: none;
      display: list-item;
      list-style-type: symbols();
      margin: 20px 35px;
      font-size: 18px;
      color: #9fadbe; }
      @media (min-width: 1000px) {
        .way-to-build-website .content .sec3-li {
          width: 100%;
          font-size: 16px; } }

.sec-4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fbfcfc;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-around;
  padding: 42px 0px; }
  @media (min-width: 1000px) {
    .sec-4 {
      flex-direction: row; } }
  .sec-4 .content {
    width: 95%;
    background-color: #fbfcfc; }
    @media (min-width: 1000px) {
      .sec-4 .content {
        width: 45%; } }
    .sec-4 .content .sec4-li {
      width: 92%;
      display: list-item;
      margin: 11px 36px;
      font-size: 18px;
      color: #9fadbe;
      list-style: none; }
      @media (min-width: 600px) {
        .sec-4 .content .sec4-li {
          font-size: 16px; } }
  .sec-4 .form-section {
    width: 100%;
    padding: 2% 0%; }
    @media (min-width: 1000px) {
      .sec-4 .form-section {
        width: 45%;
        height: auto; } }
    .sec-4 .form-section .form {
      margin: 8px;
      width: 90%;
      margin: auto;
      border-radius: 8px;
      background-color: #ffffff;
      box-shadow: 0px 0px 4px #c1bebe; }
      @media (min-width: 600px) {
        .sec-4 .form-section .form {
          width: 462px; } }
      .sec-4 .form-section .form .mobile-img {
        width: 94%;
        height: auto; }
        @media (min-width: 600px) {
          .sec-4 .form-section .form .mobile-img {
            width: 450px;
            height: auto; } }
      .sec-4 .form-section .form .input-form {
        margin: 3%; }
        @media (min-width: 600px) {
          .sec-4 .form-section .form .input-form {
            margin: 5%; } }
        .sec-4 .form-section .form .input-form .sec4-input {
          width: 100%;
          height: 34px;
          font-size: 18px;
          padding-left: 12%;
          margin: 5px 0px;
          border: 2px solid #e0e4e8;
          border-radius: 5px; }
          @media (min-width: 600px) {
            .sec-4 .form-section .form .input-form .sec4-input {
              width: 100%;
              height: 43px;
              font-size: 16px;
              padding-left: 9%; } }
        .sec-4 .form-section .form .input-form .sec4-label {
          padding-top: 5%;
          font-size: 18px;
          color: #1d1c1cd4; }
          @media (min-width: 600px) {
            .sec-4 .form-section .form .input-form .sec4-label {
              font-size: 19px; } }
        .sec-4 .form-section .form .input-form label:after {
          color: #e32;
          content: ' *';
          display: inline; }
        .sec-4 .form-section .form .input-form .key-icon {
          position: absolute;
          width: 18px;
          height: 17px;
          margin: 14px 11px; }
          @media (min-width: 600px) {
            .sec-4 .form-section .form .input-form .key-icon {
              margin: 18px 10px; } }
        .sec-4 .form-section .form .input-form .sec4-btn {
          font-size: 20px;
          height: 40px;
          width: 100%;
          color: white;
          background-color: #3f50ea;
          border: 2px solid white;
          border-radius: 8px;
          margin: 5% 0px; }
          @media (min-width: 600px) {
            .sec-4 .form-section .form .input-form .sec4-btn {
              font-size: 22px;
              height: 51px; } }
        .sec-4 .form-section .form .input-form button:hover {
          background-color: #273ae5; }
  .sec-4 .submit-form {
    display: none;
    margin-left: 30%;
    width: 400px;
    height: 250px;
    position: absolute;
    align-items: center;
    box-shadow: 0px 0px 5px #a09797;
    z-index: 5;
    background-color: #f1eeee; }
    .sec-4 .submit-form .close-btn {
      float: right;
      margin: 10px;
      width: 50px;
      border: none;
      font-size: 30px; }
    .sec-4 .submit-form .thankyou {
      margin-top: 20%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around; }
    .sec-4 .submit-form h3 {
      font-size: 30px;
      padding-bottom: 10px; }
    .sec-4 .submit-form p {
      font-size: 18px; }

.sec-5 {
  background-color: white;
  padding: 2%; }
  .sec-5 .sec5-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px 0px 20px; }
    @media (min-width: 500px) {
      .sec-5 .sec5-heading {
        padding: 3% 30%; } }
    .sec-5 .sec5-heading .sec5-heading {
      padding: 20px 0px;
      font-size: 15px;
      color: #3f50ea;
      font-weight: 420; }
      @media (min-width: 500px) {
        .sec-5 .sec5-heading .sec5-heading {
          font-size: medium; } }
  .sec-5 .scroll-button {
    width: 40px;
    height: 40px;
    position: absolute;
    border-radius: 100%;
    border: 2px solid #ffffff; }
  .sec-5 .prev_btn {
    display: none;
    margin: 6% 0% 0% -1%; }
    @media (min-width: 900px) {
      .sec-5 .prev_btn {
        display: block; } }
    .sec-5 .prev_btn .angle {
      color: black;
      transform: rotate(135deg); }
  .sec-5 .next_btn {
    display: none;
    margin: 6% 10% 0% 87%; }
    @media (min-width: 900px) {
      .sec-5 .next_btn {
        display: block; } }
    .sec-5 .next_btn .angle {
      color: black; }

.scroll-wrapper {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth; }

.slide {
  list-style: none;
  margin: 10px; }
  .slide .profile-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 26px 13px;
    text-align: center;
    width: 88vw;
    align-items: center;
    box-shadow: 0px 0px 6px #dddada; }
    @media (min-width: 500px) {
      .slide .profile-card {
        width: 44vw; } }
    @media (min-width: 900px) {
      .slide .profile-card {
        flex-direction: row;
        text-align: left;
        padding: 0px 0px;
        width: 43vw; } }
    .slide .profile-card .sec5-mob-img {
      width: 132px;
      border-radius: 50%;
      padding-bottom: 40px;
      margin: auto; }
      @media (min-width: 900px) {
        .slide .profile-card .sec5-mob-img {
          width: 175px;
          border-radius: 0%;
          padding-bottom: 0px; } }
    .slide .profile-card .profile-details {
      display: flex;
      flex-direction: column;
      padding-left: 20px;
      justify-content: flex-start; }
      .slide .profile-card .profile-details p {
        padding: 10px;
        color: #9fadbe; }
      .slide .profile-card .profile-details h3 {
        padding: 10px; }
      .slide .profile-card .profile-details h4 {
        padding: 10px;
        color: #9fadbe; }

.sec-6 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 6% 0%; }
  .sec-6 .content {
    width: 100%;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 40px 0px; }
    @media (min-width: 500px) {
      .sec-6 .content {
        width: 70%; } }
    @media (min-width: 900px) {
      .sec-6 .content {
        align-items: flex-start;
        text-align: start;
        width: 34%; } }
    .sec-6 .content .overlap-circle {
      width: 22px;
      position: absolute;
      margin: 0px -26px; }
    .sec-6 .content .sec6-btn1 {
      width: 200px;
      padding-left: 20px; }
  .sec-6 .cards {
    width: 100%;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; }
    @media (min-width: 400px) {
      .sec-6 .cards {
        width: 95%;
        padding: 0%; } }
    @media (min-width: 1000px) {
      .sec-6 .cards {
        width: 55%;
        text-align: center;
        margin: auto; } }
    .sec-6 .cards .card-heading {
      font-size: 19px; }
    .sec-6 .cards .emi {
      font-size: 43px; }
      @media (max-width: 600px) {
        .sec-6 .cards .emi {
          font-size: 35px; } }
    .sec-6 .cards .card-li {
      list-style: none;
      text-align: left;
      padding: 4px 30px;
      font-size: 16px;
      color: #9fadbe; }
      @media (min-width: 600px) {
        .sec-6 .cards .card-li {
          font-size: 18px; } }
    .sec-6 .cards .sec6-btn {
      margin: 4% 5%;
      float: left; }
      @media (max-width: 900px) {
        .sec-6 .cards .sec6-btn {
          margin: 4% 3%; } }
    .sec-6 .cards .card {
      width: 100%;
      height: 382px;
      display: flex;
      flex-direction: column;
      padding-left: 30px;
      margin: 5px;
      align-items: flex-start;
      justify-content: space-around;
      border-radius: 10px;
      border: 2px solid #f1f3ee;
      box-shadow: 0px 2px 2px #e6e4e4; }
      @media (min-width: 500px) {
        .sec-6 .cards .card {
          width: 45%; } }
      .sec-6 .cards .card:hover {
        transition-delay: 300ms;
        transform: translateY(-10px);
        box-shadow: 0px 0px 10px #c7c6c6; }

.sec-7 {
  padding: 4% 10%;
  display: grid;
  min-height: 411px;
  align-items: center;
  grid-template-columns: auto; }
  @media (min-width: 900px) {
    .sec-7 {
      grid-template-columns: auto auto; } }
  .sec-7 .help-icon {
    position: absolute;
    margin: 13px 7px;
    height: 20px; }
    @media (min-width: 600px) {
      .sec-7 .help-icon {
        margin: 13px 0px;
        height: 25px; } }
  .sec-7 .sec7-li {
    list-style: none;
    width: 90%;
    margin: 12px 0px 13px 30px;
    font-size: 21px;
    color: #2e2e2e; }
    @media (min-width: 600px) {
      .sec-7 .sec7-li {
        font-size: 20px; } }
  .sec-7 .paragraph--faq {
    padding: 0px; }

.sec-8 {
  padding: 4% 0%;
  align-items: center; }
  .sec-8 .content {
    margin: auto;
    width: 95%;
    text-align: center; }
    @media (min-width: 600px) {
      .sec-8 .content {
        width: 70%; } }
    @media (min-width: 900px) {
      .sec-8 .content {
        width: 50%; } }
    .sec-8 .content h1 {
      text-align: center; }
    .sec-8 .content .btn {
      margin-top: 25px;
      padding-left: 9px; }
    .sec-8 .content .phone-call {
      width: 15px;
      position: absolute;
      margin: 4px -17px; }

.footer-head {
  position: absolute;
  border: none;
  right: 0;
  z-index: 0;
  border-bottom: 50px solid #1a2130;
  border-left: 950px solid #fbfcfc; }
  @media (min-width: 900px) {
    .footer-head {
      border-bottom: 110px solid #1a2130;
      border-left: 1600px solid #fbfcfc; } }
  @media (min-width: 1550px) {
    .footer-head {
      border-left: 1600px solid #1a2130; } }

.footer-sec {
  width: 100%;
  background-color: #192130; }

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 14%;
  flex-wrap: wrap;
  color: #eeecec; }
  @media (min-width: 600px) {
    .footer {
      flex-direction: column;
      justify-content: space-around; } }
  @media (min-width: 900px) {
    .footer {
      flex-direction: row;
      align-items: center; } }
  .footer .aboutus-wrapper {
    padding: 7% 0% 0%;
    padding-left: 20px; }
    @media (min-width: 900px) {
      .footer .aboutus-wrapper {
        width: 33%;
        padding: 0% 0% 0% 5%; } }
    .footer .aboutus-wrapper .footer-logo {
      width: 220px; }
      .footer .aboutus-wrapper .footer-logo img {
        width: 170px; }
        @media (min-width: 800px) {
          .footer .aboutus-wrapper .footer-logo img {
            width: 162px; } }
    .footer .aboutus-wrapper .footer-p {
      font-size: 15px;
      letter-spacing: 1px;
      color: #fdfafa;
      padding: 2% 0%;
      line-height: 1.5; }
      @media (max-width: 500px) {
        .footer .aboutus-wrapper .footer-p {
          width: 80vw;
          font-size: 17px;
          letter-spacing: .5px;
          font-weight: 300; } }
  .footer .service-wrapper {
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    width: 33%; }
    @media (min-width: 500px) {
      .footer .service-wrapper {
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 29px; } }
    .footer .service-wrapper .company {
      width: 80vw; }
      @media (min-width: 500px) {
        .footer .service-wrapper .company {
          margin-right: 80px; } }
    .footer .service-wrapper .usefull-links {
      margin: 10px 0px;
      width: 80vw; }
      @media (min-width: 500px) {
        .footer .service-wrapper .usefull-links {
          margin-right: 80px;
          width: 10vw;
          font-weight: 300; } }
    .footer .service-wrapper .footer-h3 {
      padding-bottom: 2%;
      font-size: 21px; }
      @media (min-width: 500px) {
        .footer .service-wrapper .footer-h3 {
          padding-bottom: 5%; } }
      @media (min-width: 900px) {
        .footer .service-wrapper .footer-h3 {
          padding-bottom: 7%;
          font-size: 21px;
          font-weight: 400; } }
    .footer .service-wrapper .footer-li {
      margin: 4%;
      font-size: 15px;
      letter-spacing: 1px;
      color: white;
      list-style: none; }
      @media (min-width: 500px) {
        .footer .service-wrapper .footer-li {
          margin: 8%;
          font-size: 15px;
          font-weight: 300;
          width: 100%; } }
      .footer .service-wrapper .footer-li .footer-link {
        text-decoration: none;
        color: white; }
  .footer .subscribe-wrapper {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 15px; }
    @media (min-width: 500px) {
      .footer .subscribe-wrapper {
        font-size: 21px; } }
    .footer .subscribe-wrapper h3 {
      padding-bottom: 15px;
      font-size: 21px; }
      @media (min-width: 500px) {
        .footer .subscribe-wrapper h3 {
          padding: 10px 0px;
          font-size: 21px; } }
      @media (min-width: 900px) {
        .footer .subscribe-wrapper h3 {
          padding-bottom: 15px;
          font-size: 25px;
          font-weight: 400; } }
    .footer .subscribe-wrapper .footer-p {
      font-size: 15px;
      padding-bottom: 2%;
      color: white; }
      @media (min-width: 900px) {
        .footer .subscribe-wrapper .footer-p {
          font-weight: 300; } }
    .footer .subscribe-wrapper label {
      font-size: 19px; }
    .footer .subscribe-wrapper label:after {
      color: #e32;
      content: ' *';
      display: inline; }
    .footer .subscribe-wrapper input {
      font-size: 20px;
      color: white;
      background-color: #27324b;
      width: 90%;
      height: 44px;
      border: none;
      border-radius: 5px; }
      @media (min-width: 500px) {
        .footer .subscribe-wrapper input {
          width: 50%;
          height: 60px; } }
      @media (min-width: 900px) {
        .footer .subscribe-wrapper input {
          width: 100%;
          height: 44px;
          font-size: 17px; } }
    .footer .subscribe-wrapper .error-msg {
      font-size: 12px;
      color: red;
      margin: 0px;
      padding: 0px; }
    .footer .subscribe-wrapper ::placeholder {
      color: white;
      padding-left: 10px; }
    .footer .subscribe-wrapper .btn {
      width: 90%; }
      @media (min-width: 500px) {
        .footer .subscribe-wrapper .btn {
          width: 50%;
          height: 60px; } }
      @media (min-width: 900px) {
        .footer .subscribe-wrapper .btn {
          width: 100%;
          height: 44px; } }
  .footer .arrow {
    position: absolute;
    margin: 8px -11px;
    border-color: white;
    width: 8px;
    height: 8px; }
  .footer .footer-kart-logo {
    display: flex;
    width: 33vw;
    margin: 20px 0px 40px; }
    @media (max-width: 1000px) {
      .footer .footer-kart-logo {
        width: 50vw;
        font-size: 30px;
        justify-content: space-around; } }
    @media (max-width: 500px) {
      .footer .footer-kart-logo {
        width: 100vw;
        margin: 20px 0px 40px;
        justify-content: flex-start; } }
    .footer .footer-kart-logo .f-logo {
      height: 40px;
      width: 38px;
      border-radius: 8px;
      margin: 1.5px;
      border: 1px solid #343e54;
      align-content: center; }
      @media (min-width: 1000px) {
        .footer .footer-kart-logo .f-logo {
          border-radius: 8px;
          margin: 3px; } }
      @media (min-width: 500px) {
        .footer .footer-kart-logo .f-logo {
          border-radius: 8px;
          margin: 3px; } }

.copyright {
  width: 100%;
  text-align: center;
  color: white;
  padding: 4%; }
  @media (min-width: 900px) {
    .copyright {
      width: 100%;
      padding: 2%; } }
  .copyright .copyright-p {
    color: #fbfcfc; }

@use 'base';
body {
  overflow-x: hidden; }

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: system-ui; }

.container {
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto; }

@media (min-width: 576px) {
  .container {
    max-width: 560px; } }

@media (min-width: 650px) {
  .container {
    max-width: 630px; } }

@media (min-width: 768px) {
  .container {
    max-width: 740px; } }

@media (min-width: 850px) {
  .container {
    max-width: 830px; } }

@media (min-width: 991px) {
  .container {
    max-width: 960px; } }

@media (min-width: 1024px) {
  .container {
    max-width: 1020px; } }

@media (min-width: 1250px) {
  .container {
    max-width: 1220px; } }

@media (min-width: 1366px) {
  .container {
    max-width: 1280px; } }

.section {
  width: 100%;
  margin: 0px 10px;
  border: none; }

.sec-color {
  background-color: #fbfcfc; }

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: table-cell;
  width: 7px;
  height: 7px; }

.heading {
  font-size: 32px;
  letter-spacing: 1px;
  color: #101010;
  font-weight: 430; }
  @media (max-width: 600px) {
    .heading {
      font-size: 22px; } }

.find-more-link {
  font-size: 17px;
  margin-top: 5%;
  text-decoration: none;
  color: #5046e4;
  list-style: none; }

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg); }

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg); }

.paragraph {
  font-size: 18px;
  color: #9fadbe;
  margin: 3% 0%;
  line-height: 1.5;
  padding: 2% 0%; }
  @media (min-width: 1000px) {
    .paragraph {
      font-size: 16px; } }

.list {
  list-style: none;
  font-family: sans-serif; }
  @media (max-width: 600px) {
    .list {
      font-size: 16px; } }

span {
  color: #4c42e0; }

.btn {
  height: 47px;
  width: 199px;
  font-size: 16px;
  border: 2px solid #4c42e0;
  border-radius: 8px;
  margin-bottom: 3%;
  cursor: pointer;
  color: #4c42e0; }
  .btn:hover {
    background-color: #4c42e0;
    color: white;
    box-shadow: 0px 0px 4px #767474; }
  @media (max-width: 500px) {
    .btn {
      height: 50px;
      width: 160px;
      font-size: 17px; } }

.btn-color {
  background-color: #4c42e0;
  color: white; }

.placeholder-icon {
  font-family: fontawesome;
  font-size: 20px; }

.angle {
  display: inline-block;
  color: #4c42e0;
  width: 7px;
  height: 7px;
  border: 2px solid;
  border-top: transparent;
  border-left: transparent;
  transform: rotate(-45deg); }

.circle {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid;
  color: #4c42e0;
  margin: 6px 7px; }

.tick-mark {
  position: absolute;
  margin: 10px 0px 0px 13px;
  color: #4c42e0;
  width: 4px;
  height: 7px;
  border: 2px solid;
  border-top: transparent;
  border-left: transparent;
  transform: rotate(50deg); }

.name-error {
  font-size: 12px;
  color: red;
  margin: 0px;
  padding: 0px; }

.scroll-top {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  bottom: 3px;
  right: 20px;
  border: 2px solid;
  cursor: pointer;
  background-color: #4c42e0;
  z-index: 10;
  position: fixed; }

sup {
  vertical-align: text-top;
  font-size: smaller; }

.up-arrow {
  width: 24px;
  margin: 11px; }
