.header {
  width: 100%;
  height: 50px;
  background-color: white;
  box-shadow: 0px 1px 6px #b2acac;
  z-index: 99;
  position: fixed; }

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media (min-width: 900px) {
    .navbar {
      margin-top: 10px; } }
  .navbar__logo {
    display: flex;
    justify-content: flex-end;
    text-align: center; }
    .navbar__logo .logo-img {
      width: 153px;
      height: 33px; }
  .navbar__menu {
    display: none;
    align-items: center;
    justify-content: space-around;
    width: 60%; }
    .navbar__menu .menu {
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: center; }
      .navbar__menu .menu__element {
        text-decoration: none;
        cursor: pointer;
        color: #1e1d1d;
        display: flex;
        text-align: center;
        font-size: 13px;
        padding-right: 0px; }
        .navbar__menu .menu__element i {
          margin: -3px 2px;
          font-size: 20px; }
        .navbar__menu .menu__element:hover {
          color: #5046e4; }
    @media (min-width: 900px) {
      .navbar__menu {
        display: flex; } }
    @media (min-width: 1100px) {
      .navbar__menu {
        width: 50%; } }
  .navbar__icon .icons {
    width: 100%;
    display: flex;
    justify-content: right;
    padding-right: 8%;
    align-items: center; }
    .navbar__icon .icons .icon {
      border: 2px solid #cfd0f4;
      width: 40px;
      height: 35px;
      margin: 0px 3px;
      border-radius: 50%; }
      .navbar__icon .icons .icon__img {
        width: 20px;
        height: 20px;
        margin: 5px 6px; }
      .navbar__icon .icons .icon__color {
        background-color: #5046e4; }
    .navbar__icon .icons .hamburger {
      width: 30px;
      height: 30px;
      align-items: center;
      margin: 25px 0px 0px 12px;
      z-index: 100;
      cursor: pointer;
      display: none; }
      .navbar__icon .icons .hamburger .bar {
        height: 3px;
        width: 100%;
        background-color: #767876;
        display: block;
        border-radius: 5px;
        transition: 0.3s ease; }
        .navbar__icon .icons .hamburger .bar__1 {
          transform: translateY(-4px); }
        .navbar__icon .icons .hamburger .bar__3 {
          transform: translateY(4px); }
      @media (max-width: 900px) {
        .navbar__icon .icons .hamburger {
          display: inline; } }

.side-menu {
  background-color: #5046e4;
  color: white;
  height: 686%;
  margin: 17% 5%;
  position: absolute;
  font-size: 20px;
  top: 0;
  left: 0;
  z-index: -1;
  width: 60%;
  display: grid; }
  @media (min-width: 900px) {
    .side-menu {
      display: inline; } }

.select-option {
  display: none;
  position: absolute;
  padding-top: 14%; }
  .select-option .menu-opt {
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 6px 9px 0px #e6e0e0;
    padding: 12px 16px;
    text-decoration: none; }
  @media (max-width: 1000px) {
    .select-option {
      padding-top: 20%; } }

.menu:hover .select-option {
  display: grid; }

.top-banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding-top: 100px;
  padding-bottom: 70px;
  background-color: white; }
  @media (min-width: 1000px) {
    .top-banner {
      flex-direction: row; } }
  .top-banner__content {
    padding-top: 40px; }
    @media (min-width: 1000px) {
      .top-banner__content {
        flex-direction: row;
        width: 48%;
        padding-top: 0px; } }
    .top-banner__content .heading--size {
      letter-spacing: 1.5px;
      font-size: 39px; }
      @media (min-width: 600px) {
        .top-banner__content .heading--size {
          font-size: 50px;
          line-height: 70px; } }
    .top-banner__content .banner-button {
      padding-top: 3%;
      margin-bottom: 3%;
      display: flex;
      flex-direction: column; }
      @media (min-width: 600px) {
        .top-banner__content .banner-button {
          flex-direction: row; } }
      .top-banner__content .banner-button .btn--topBanner {
        width: 200px;
        margin-right: 10px; }
  .top-banner .top-image {
    padding: 30px 0px; }
    @media (min-width: 1000px) {
      .top-banner .top-image {
        width: 38%; } }
    .top-banner .top-image .image {
      width: 100%; }

.section {
  width: 100%;
  border: 2px solid #f4f2f2;
  background-color: white; }
  .section .sec2-logo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap; }
    .section .sec2-logo .mnc-logo {
      list-style: none;
      align-items: center;
      max-width: 200px;
      min-width: 150px; }
      .section .sec2-logo .mnc-logo .sec2-img {
        width: 55%;
        margin: 18%; }

.logo-top-border {
  border-top: 1px solid #edeaea; }

.sec-3 {
  background-color: #fbfcfc; }
  .sec-3 .sec3-h1 {
    margin: 5% 0% 3%; }

.how-it-work {
  width: 100%;
  margin: auto;
  padding-top: 3%;
  text-align: center; }
  @media (min-width: 600px) {
    .how-it-work {
      width: 80%; } }
  @media (min-width: 1000px) {
    .how-it-work {
      width: 41%; } }
  .how-it-work .sec3-p {
    padding: 10px; }
    @media (min-width: 1000px) {
      .how-it-work .sec3-p {
        width: 50%;
        margin: auto; } }

.way-to-build-website {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; }
  .way-to-build-website .sec-img {
    width: 100%;
    padding: 0px;
    margin: 35px 0px; }
    @media (min-width: 1000px) {
      .way-to-build-website .sec-img {
        width: 35%;
        padding: 0px 0px 12px 37px; } }
  .way-to-build-website .content {
    width: 100%;
    padding: 0px 5px 30px 10px; }
    @media (min-width: 600px) {
      .way-to-build-website .content {
        width: 90%;
        padding: 0% 5% 5%; } }
    @media (min-width: 1000px) {
      .way-to-build-website .content {
        width: 45%;
        padding: 3% 3%;
        background-color: #fbfcfc; } }
    .way-to-build-website .content .sec3-p2 {
      font-size: 18px;
      color: #9fadbe;
      margin: 3% 0%;
      line-height: 1.5;
      padding: 2% 0%; }
      @media (max-width: 1000px) {
        .way-to-build-website .content .sec3-p2 {
          font-size: 24px; } }
      @media (max-width: 600px) {
        .way-to-build-website .content .sec3-p2 {
          font-size: 16px; } }
    .way-to-build-website .content .sec3-li {
      list-style: none;
      display: list-item;
      list-style-type: symbols();
      margin: 12px 25px;
      font-size: 17px;
      color: #9fadbe; }
      @media (min-width: 1000px) {
        .way-to-build-website .content .sec3-li {
          width: 100%;
          font-size: 15px; } }

.sec-4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column-reverse;
  background-color: #fbfcfc;
  padding: 42px 0px; }
  @media (min-width: 1000px) {
    .sec-4 {
      flex-direction: row; } }
  .sec-4 .content {
    width: 95%;
    background-color: #fbfcfc;
    padding-top: 40px;
    margin-top: 10px; }
    @media (min-width: 1000px) {
      .sec-4 .content {
        padding-top: 0px;
        margin-top: 0px;
        width: 45%; } }
    .sec-4 .content .sec4-li {
      width: 92%;
      display: list-item;
      margin: 11px 26px;
      font-size: 17px;
      color: #9fadbe;
      list-style: none; }
      @media (min-width: 600px) {
        .sec-4 .content .sec4-li {
          font-size: 15px; } }
  .sec-4 .form {
    padding: 16px;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0px 0px 4px #c1bebe; }
    .sec-4 .form__img {
      width: 94%;
      height: auto; }
    .sec-4 .form__icon {
      display: flex;
      justify-content: flex-start;
      align-items: center; }
    .sec-4 .form__input {
      width: 100%;
      height: 43px;
      font-size: 15px;
      padding-left: 30px;
      border: 1px solid #e4e6ea;
      border-radius: 5px; }
      @media (min-width: 600px) {
        .sec-4 .form__input {
          width: 100%;
          height: 37px;
          font-size: 15px; } }
    .sec-4 .form__label {
      padding: 0px 0px;
      font-size: 15px;
      color: #020101d4;
      display: block;
      margin-bottom: -10px; }
      @media (min-width: 600px) {
        .sec-4 .form__label {
          font-size: 15px;
          margin-bottom: -7px; } }
    .sec-4 .form__btn {
      width: 100%;
      height: 37px; }
    .sec-4 .form label:after {
      color: #e32;
      content: ' *';
      display: inline; }
    .sec-4 .form .key-icon {
      position: absolute;
      width: 21px;
      height: 14px;
      padding-left: 6px; }
      @media (min-width: 600px) {
        .sec-4 .form .key-icon {
          width: 21px;
          height: 14px;
          padding-left: 6px; } }
    .sec-4 .form button:hover {
      background-color: #273ae5; }
    .sec-4 .form .name-error {
      font-size: 11px;
      color: red;
      margin: 0px;
      padding: 0px;
      height: 15px; }
    @media (min-width: 600px) {
      .sec-4 .form {
        width: 373px;
        margin-right: 50px; } }
  .sec-4 .submit-form {
    display: none;
    margin-left: 30%;
    width: 400px;
    height: 250px;
    position: absolute;
    align-items: center;
    box-shadow: 0px 0px 5px #a09797;
    z-index: 5;
    background-color: #f1eeee; }
    .sec-4 .submit-form .close-btn {
      float: right;
      margin: 10px;
      width: 50px;
      border: none;
      font-size: 30px; }
    .sec-4 .submit-form .thankyou {
      margin-top: 20%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around; }
    .sec-4 .submit-form h3 {
      font-size: 30px;
      padding-bottom: 10px; }
    .sec-4 .submit-form p {
      font-size: 18px; }

.sec-5 {
  background-color: white;
  padding: 2%; }
  .sec-5 .sec5-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px 0px 20px; }
    @media (min-width: 500px) {
      .sec-5 .sec5-heading {
        padding: 3% 20%; } }
    @media (min-width: 1100px) {
      .sec-5 .sec5-heading {
        padding: 3% 30%; } }
    .sec-5 .sec5-heading .sec5-heading {
      padding: 20px 0px;
      font-size: 15px;
      color: #3f50ea;
      font-weight: 420; }
      @media (min-width: 500px) {
        .sec-5 .sec5-heading .sec5-heading {
          font-size: medium; } }
  .sec-5 .scroll-button {
    width: 40px;
    height: 40px;
    position: absolute;
    border-radius: 100%;
    border: 2px solid #ffffff; }
  .sec-5 .prev_btn {
    display: none; }
    @media (min-width: 900px) {
      .sec-5 .prev_btn {
        display: block;
        margin: 10% 0% 0% -1%; } }
    @media (min-width: 1100px) {
      .sec-5 .prev_btn {
        margin: 6% 0% 0% -1%;
        display: block; } }
    .sec-5 .prev_btn .angle {
      color: black;
      transform: rotate(135deg); }
  .sec-5 .next_btn {
    display: none; }
    @media (min-width: 900px) {
      .sec-5 .next_btn {
        display: block;
        margin: 10% 10% 0% 94%; } }
    @media (min-width: 1100px) {
      .sec-5 .next_btn {
        display: block;
        margin: 6% 10% 0% 87%; } }
    .sec-5 .next_btn .angle {
      color: black; }

.scroll-wrapper {
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth; }
  @media (min-width: 900px) {
    .scroll-wrapper {
      overflow-x: hidden; } }

.slide {
  list-style: none;
  margin: 10px; }
  .slide .profile-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 26px 13px;
    text-align: center;
    width: 88vw;
    align-items: center;
    box-shadow: 0px 0px 6px #dddada; }
    @media (min-width: 500px) {
      .slide .profile-card {
        width: 44vw; } }
    @media (min-width: 900px) {
      .slide .profile-card {
        flex-direction: row;
        text-align: left;
        padding: 0px 0px;
        width: 47vw; } }
    @media (min-width: 1100px) {
      .slide .profile-card {
        width: 43vw; } }
    .slide .profile-card .sec5-mob-img {
      width: 132px;
      border-radius: 50%;
      padding-bottom: 40px;
      margin: auto; }
      @media (min-width: 900px) {
        .slide .profile-card .sec5-mob-img {
          width: 175px;
          border-radius: 0%;
          padding-bottom: 0px; } }
    .slide .profile-card .profile-details {
      display: flex;
      flex-direction: column;
      padding-left: 20px;
      justify-content: flex-start; }
      .slide .profile-card .profile-details p {
        padding: 10px;
        color: #9fadbe; }
      .slide .profile-card .profile-details h3 {
        padding: 10px; }
      .slide .profile-card .profile-details h4 {
        padding: 10px;
        color: #9fadbe; }

.sec-6 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 6% 0%; }
  .sec-6 .content {
    width: 100%;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 40px 0px; }
    @media (min-width: 500px) {
      .sec-6 .content {
        width: 70%; } }
    @media (min-width: 900px) {
      .sec-6 .content {
        align-items: flex-start;
        text-align: start;
        width: 34%; } }
    .sec-6 .content .overlap-circle {
      width: 22px;
      position: absolute;
      margin: 0px -26px; }
    .sec-6 .content .btn--size {
      width: 180px;
      padding-left: 20px; }
  .sec-6 .cards {
    width: 100%;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center; }
    @media (min-width: 400px) {
      .sec-6 .cards {
        width: 95%;
        padding: 0%; } }
    @media (min-width: 1000px) {
      .sec-6 .cards {
        width: 55%;
        text-align: center;
        margin: auto; } }
    .sec-6 .cards .card-heading {
      font-size: 18px;
      padding-top: 11px; }
      @media (min-width: 600px) {
        .sec-6 .cards .card-heading {
          font-size: 13px;
          padding-top: 11px; } }
    .sec-6 .cards .emi {
      font-size: 32px; }
      @media (min-width: 600px) {
        .sec-6 .cards .emi {
          font-size: 29px; } }
    .sec-6 .cards .card-li {
      list-style: none;
      text-align: left;
      padding: 4px 23px;
      font-size: 16px;
      color: #9fadbe; }
      @media (min-width: 600px) {
        .sec-6 .cards .card-li {
          font-size: 15px; } }
    @media (min-width: 900px) {
      .sec-6 .cards .btn--getStart {
        height: 40px;
        width: 150px; } }
    .sec-6 .cards .card {
      width: 100%;
      height: 400px;
      display: flex;
      flex-direction: column;
      padding-left: 30px;
      margin: 5px;
      align-items: flex-start;
      justify-content: space-around;
      border-radius: 10px;
      border: 2px solid #f1f3ee;
      box-shadow: 0px 2px 2px #e6e4e4; }
      @media (min-width: 500px) {
        .sec-6 .cards .card {
          width: 45%;
          height: 325px; } }
      .sec-6 .cards .card:hover {
        box-shadow: 0px 0px 10px #c7c6c6; }

.question {
  padding: 4% 10%;
  display: grid;
  min-height: 411px;
  align-items: center;
  grid-template-columns: auto; }
  @media (min-width: 900px) {
    .question {
      grid-template-columns: auto auto; } }
  .question__icon {
    position: absolute;
    height: 22px;
    margin: 3px 0px 0px -27px;
    height: 20px; }
    @media (min-width: 600px) {
      .question__icon {
        height: 20px;
        margin: 0px 0px -4px -25px; } }
  .question__list {
    list-style: none;
    width: 90%;
    margin: 12px 0px 13px 30px;
    font-size: 21px;
    color: #2e2e2e; }
    @media (min-width: 1000px) {
      .question__list {
        font-size: 17px; } }
  .question .paragraph--faq {
    padding: 0px; }

.contectUs {
  padding: 4% 0%;
  align-items: center; }
  .contectUs__content {
    margin: auto;
    width: 95%;
    text-align: center; }
    @media (min-width: 600px) {
      .contectUs__content {
        width: 70%; } }
    @media (min-width: 900px) {
      .contectUs__content {
        width: 50%; } }
    .contectUs__content .heading {
      text-align: center; }
    .contectUs__content__icon {
      width: 15px;
      position: absolute;
      margin: 4px -17px; }

.footer-head {
  position: absolute;
  border: none;
  right: 0;
  z-index: 0;
  border-bottom: 50px solid #1a2130;
  border-left: 950px solid #fbfcfc; }
  @media (min-width: 900px) {
    .footer-head {
      border-bottom: 110px solid #1a2130;
      border-left: 1600px solid #fbfcfc; } }
  @media (min-width: 1550px) {
    .footer-head {
      border-left: 1600px solid #1a2130; } }

.footer-section {
  width: 100%;
  background-color: #192130; }

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 14%;
  color: #eeecec; }
  @media (min-width: 600px) {
    .footer {
      flex-direction: column;
      justify-content: space-around; } }
  @media (min-width: 1000px) {
    .footer {
      flex-direction: row;
      align-items: flex-start; } }
  .footer__aboutus {
    padding: 7% 0% 0%;
    padding-left: 20px; }
    @media (min-width: 900px) {
      .footer__aboutus {
        width: 33%; } }
    @media (min-width: 1100px) {
      .footer__aboutus {
        padding: 0%; } }
    .footer__aboutus__logo {
      width: 220px; }
      .footer__aboutus__logo__img {
        width: 170px; }
        @media (min-width: 800px) {
          .footer__aboutus__logo__img {
            width: 140px; } }
    .footer__aboutus__paragraph {
      font-size: 15px;
      color: #fdfafa;
      line-height: 20px;
      word-spacing: 1px;
      padding: 13px 0px; }
      @media (max-width: 500px) {
        .footer__aboutus__paragraph {
          width: 80vw;
          font-size: 17px;
          font-weight: 300; } }
    .footer__aboutus__kart-logo {
      display: flex;
      width: 100%;
      margin: 20px 0px 40px;
      justify-content: flex-start; }
      @media (min-width: 600px) {
        .footer__aboutus__kart-logo {
          width: 50vw;
          font-size: 30px; } }
      @media (min-width: 1000px) {
        .footer__aboutus__kart-logo {
          width: 28vw;
          font-size: 30px; } }
      .footer__aboutus__kart-logo .kart-logo {
        height: 36px;
        width: 36px;
        border-radius: 8px;
        margin: 1.5px;
        border: 1px solid #343e54;
        align-content: center; }
        @media (min-width: 500px) {
          .footer__aboutus__kart-logo .kart-logo {
            border-radius: 8px;
            margin: 3px; } }
        @media (min-width: 900px) {
          .footer__aboutus__kart-logo .kart-logo {
            height: 31px;
            width: 31px;
            margin: 3px; } }
        .footer__aboutus__kart-logo .kart-logo__img {
          width: 90%;
          height: 90%;
          margin-bottom: 6px; }
  .footer__service {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 20px; }
    @media (min-width: 500px) {
      .footer__service {
        width: 50%;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start; } }
    .footer__service__heading {
      font-size: 18px;
      margin-top: 20px;
      margin-left: -6px; }
      @media (min-width: 900px) {
        .footer__service__heading {
          font-size: 18px;
          font-weight: 600;
          margin: 0px 0px 8px 2px; } }
    .footer__service__list {
      margin: 6px;
      font-size: 13px;
      color: white;
      list-style: none; }
      @media (min-width: 500px) {
        .footer__service__list {
          font-size: 15px;
          font-weight: 300;
          padding: 2px 0px;
          width: 100%; } }
      .footer__service__list::before {
        content: "";
        border: solid black;
        border-width: 0 1.5px 1.5px 0;
        display: block;
        width: 7px;
        height: 7px;
        position: relative;
        border-color: white;
        top: 13px;
        left: -16px;
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg); }
  .footer__subscribe {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20px; }
    @media (min-width: 500px) {
      .footer__subscribe {
        font-size: 19px; } }
    @media (min-width: 900px) {
      .footer__subscribe {
        padding-right: 20px; } }
    @media (min-width: 1100px) {
      .footer__subscribe {
        padding: 0%;
        width: 33%; } }
    .footer__subscribe__heading {
      padding-bottom: 15px;
      font-size: 21px; }
      @media (min-width: 500px) {
        .footer__subscribe__heading {
          font-size: 21px; } }
      @media (min-width: 900px) {
        .footer__subscribe__heading {
          padding-bottom: 20px;
          font-size: 19px;
          font-weight: 600; } }
    .footer__subscribe__paragraph {
      font-size: 15px;
      padding-bottom: 2%;
      color: white; }
      @media (min-width: 900px) {
        .footer__subscribe__paragraph {
          font-weight: 300;
          font-size: 15px; } }
    .footer__subscribe__label {
      font-size: 14px;
      margin: 13px 0px 12px; }
    .footer__subscribe label:after {
      color: #e32;
      content: ' *';
      display: inline; }
    .footer__subscribe__icon {
      position: relative;
      top: 35px;
      left: 11px; }
      @media (min-width: 500px) {
        .footer__subscribe__icon {
          top: 42px; } }
      @media (min-width: 1000px) {
        .footer__subscribe__icon {
          top: 30px; } }
    .footer__subscribe__input {
      font-size: 16px;
      padding-left: 41px;
      color: white;
      background-color: #27324b;
      width: 90%;
      height: 44px;
      border: none;
      border-radius: 5px; }
      @media (min-width: 500px) {
        .footer__subscribe__input {
          width: 70%;
          height: 60px;
          font-size: 18px; } }
      @media (min-width: 800px) {
        .footer__subscribe__input {
          width: 50%;
          height: 60px; } }
      @media (min-width: 1000px) {
        .footer__subscribe__input {
          width: 100%;
          height: 34px;
          font-size: 15px; } }
      .footer__subscribe__input::placeholder {
        color: white; }
    .footer__subscribe .error-msg {
      font-size: 12px;
      color: red;
      margin: 0px;
      padding: 0px;
      height: 25px; }
    .footer__subscribe .btn--style {
      width: 90%; }
      @media (min-width: 500px) {
        .footer__subscribe .btn--style {
          width: 70%;
          height: 60px; } }
      @media (min-width: 800px) {
        .footer__subscribe .btn--style {
          width: 50%;
          height: 60px; } }
      @media (min-width: 1000px) {
        .footer__subscribe .btn--style {
          width: 100%;
          height: 35px; } }
  .footer .arrow {
    position: relative;
    border-color: white;
    top: 11px;
    left: -14px; }

.copyright {
  width: 100%;
  text-align: center;
  color: white;
  font-size: 13px;
  margin-top: 30px;
  padding: 10px; }
  @media (min-width: 900px) {
    .copyright {
      width: 100%; } }
  .copyright .copyright-p {
    color: #fbfcfc; }

@use 'base';
body {
  overflow-x: hidden; }

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: system-ui; }

.container {
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto; }

@media (min-width: 576px) {
  .container {
    max-width: 560px; } }

@media (min-width: 650px) {
  .container {
    max-width: 630px; } }

@media (min-width: 768px) {
  .container {
    max-width: 740px; } }

@media (min-width: 850px) {
  .container {
    max-width: 830px; } }

@media (min-width: 991px) {
  .container {
    max-width: 960px; } }

@media (min-width: 1024px) {
  .container {
    max-width: 1020px; } }

@media (min-width: 1250px) {
  .container {
    max-width: 1220px; } }

@media (min-width: 1366px) {
  .container {
    max-width: 1280px; } }

.section {
  width: 100%;
  margin: 0px;
  padding: 0 10px;
  border: none; }

.sec-color {
  background-color: #fbfcfc; }

.arrow {
  border: solid black;
  border-width: 0 1.5px 1.5px 0;
  display: table-cell;
  width: 7px;
  height: 7px; }

.heading {
  font-size: 27px;
  letter-spacing: 1px;
  color: #101010;
  font-weight: 440; }
  @media (min-width: 900px) {
    .heading {
      font-size: 25px;
      line-height: 33px;
      font-weight: 455; } }

.find-more-link {
  font-size: 15px;
  padding-left: 8px;
  text-decoration: none;
  color: #5046e4;
  list-style: none; }

.link {
  text-decoration: none;
  color: white; }

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg); }

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg); }

.paragraph {
  font-size: 16px;
  color: #9fadbe;
  margin: 3% 0%;
  line-height: 1.7;
  padding: 2% 0%; }
  @media (min-width: 600px) {
    .paragraph {
      font-size: 16px; } }
  @media (min-width: 1100px) {
    .paragraph {
      font-size: 15px; } }

.list {
  list-style: none;
  font-family: sans-serif; }
  @media (max-width: 600px) {
    .list {
      font-size: 16px; } }

span {
  color: #4c42e0; }

.btn {
  height: 43px;
  width: 170px;
  font-size: 16px;
  border: 2px solid #4c42e0;
  border-radius: 8px;
  margin-bottom: 3%;
  cursor: pointer;
  color: #4c42e0; }
  .btn:hover {
    background-color: #4c42e0;
    color: white;
    box-shadow: 0px 0px 4px #767474; }
  .btn--color {
    background-color: #4c42e0;
    color: white; }
  @media (max-width: 500px) {
    .btn {
      height: 50px;
      width: 160px;
      font-size: 17px; } }

.placeholder-icon {
  font-family: fontawesome;
  font-size: 20px; }

.angle {
  display: inline-block;
  color: #4c42e0;
  width: 7px;
  height: 7px;
  border: 2px solid;
  border-top: transparent;
  border-left: transparent;
  transform: rotate(-45deg); }

.circle {
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid;
  color: #4c42e0;
  margin: 3px -20px; }
  @media (min-width: 1000px) {
    .circle {
      margin: 1px -20px; } }

.tick-mark {
  position: absolute;
  color: #4c42e0;
  width: 4px;
  height: 7px;
  border: 2px solid;
  border-top: transparent;
  border-left: transparent;
  transform: rotate(50deg);
  margin: 6px -15px; }
  @media (min-width: 1000px) {
    .tick-mark {
      margin: 4px -15px; } }

.scroll-top {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  bottom: 3px;
  right: 20px;
  border: 2px solid;
  cursor: pointer;
  background-color: #4c42e0;
  z-index: 10;
  position: fixed; }

sup {
  vertical-align: text-top;
  font-size: smaller; }

.up-arrow {
  width: 20px;
  margin: 11px; }
