@import "navbar";
@import "topBanner";
@import "mnc_logo";
@import "section3";
@import "section4";
@import "section5";
@import "section6";
@import "section7";
@import "section8";
@import "footer";

@use 'base';

$blue-color: rgb(76, 66, 224);
$section-color: #fbfcfc;

body {
  overflow-x: hidden;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: system-ui;
}
.container{
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 560px;
  }
}
@media (min-width: 650px) {
  .container {
    max-width: 630px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 740px;
  }
}

@media (min-width: 850px) {
  .container {
    max-width: 830px;
  }
}

@media (min-width: 991px) {
  .container{
    max-width: 960px;
  }
}

@media (min-width: 1024px) {
  .container{
    max-width: 1020px;
  }
}
@media (min-width: 1250px) {
  .container{
    max-width: 1220px;
  }
}

@media (min-width: 1366px) {
  .container{
    max-width: 1280px;
  }
}

.section{ 
  width: 100%;
  margin: 0px 10px;
  border: none;
}
.sec-color{
  background-color: $section-color;
}


.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: table-cell;
  // padding: 3px;
  width: 7px;
  height: 7px;
}

.heading {
  font-size: 32px;
  letter-spacing: 1px;
  color: #101010;
  font-weight: 430;

  @media (max-width:600px) {
    font-size: 22px;
  }
}
.find-more-link {
  font-size: 17px;
  margin-top: 5%;
  text-decoration: none;
  color: $content-color;
  list-style: none;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.paragraph {
  font-size: 18px;
  color: $paragraph-color;
  margin: 3% 0%;
  line-height: 1.5;
  padding: 2% 0%;

  @media (min-width:1000px) {
    font-size: 16px;
  }
}

.list {
  list-style: none;
  font-family: sans-serif;

  @media (max-width:600px) {
    font-size: 16px;
  }
}

span {
  color: $blue-color;
}

.btn {
  height: 47px;
  width: 199px;
  font-size: 16px;
  border: 2px solid $blue-color;
  border-radius: 8px;
  margin-bottom: 3%;
  cursor: pointer;
  color: $blue-color;
  &:hover{
    background-color: $blue-color;
    color: white;
    box-shadow: 0px 0px 4px #767474;
  }

  @media (max-width:500px) {
    height: 50px;
    width: 160px;
    font-size: 17px;
  }
}

.btn-color {
  background-color: $blue-color;
  color: white;
}

.placeholder-icon {
  font-family: fontawesome;
  font-size: 20px;
}

.angle {
  display: inline-block;
  color: $blue-color;
  width: 7px;
  height: 7px;
  border: 2px solid;
  border-top: transparent;
  border-left: transparent;
  transform: rotate(-45deg);
}

.circle {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid;
  color: #4c42e0;
  margin: 6px 7px;
}

.tick-mark {
  position: absolute;
  margin: 10px 0px 0px 13px;
  color: #4c42e0;
  width: 4px;
  height: 7px;
  border: 2px solid;
  border-top: transparent;
  border-left: transparent;
  transform: rotate(50deg);
}

.name-error{
  font-size: 12px;
  color: red;
  margin: 0px;
  padding: 0px;
}
.scroll-top{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  bottom: 3px;
  right: 20px;
  border: 2px solid;
  cursor: pointer;
  background-color: $blue-color;
  z-index: 10;
  position: fixed;
}
sup {
  vertical-align:text-top;
  font-size: smaller;
  
}
.up-arrow{
  width: 24px;
  margin: 11px;
}
 