@import "navbar";
@import "topBanner";
@import "mnc_logo";
@import "section3";
@import "section4";
@import "section5";
@import "section6";
@import "section7";
@import "section8";
@import "footer";

@use 'base';

$blue-color:rgb(76, 66, 224);

* {
  margin: 0px;
  padding: 0px;
  max-width: 100%;
  // box-sizing: border-box;
  font-family: 'Trebuchet MS', sans-serif;
}
.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: table-cell;
  // padding: 3px;
  width: 7px;
  height: 7px;
}
h1{
  letter-spacing: 2px;
  color: rgb(46, 46, 46);
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

p{
  font-size: 20px;
  color: $paragraph-color;
  margin: 3% 0%;
  line-height: 1.5;
  padding: 2% 0%;
  @media (max-width:1000px) {
    font-size: 24px;
  }
}

span{
  color: $blue-color;
}

.btn {
  height: 47px;
  width: 199px;
  font-size: 18px;
  border: 2px solid $blue-color;
  border-radius: 8px;
  margin-bottom: 3%;
  cursor: pointer;
  color: $blue-color;

  @media (max-width:500px) {
    height: 30px;
    width: 150px;
    font-size: 17px;
  }
}
.doc-btn{
  width: 225px;
  &:hover{
    background-color: $blue-color;
    color: white;
  }
}

.btn:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.btn-color {
  background-color: $blue-color;
  color: white;
}

// --------------------------------------
// .footer {
//   --minheight: 280px;
//   --maxheight: 390px;
//   width: 100%;
//   height: var(--maxheight);
//   background-color: rgb(33, 42, 61);
//   clip-path: polygon(0 calc(var(--maxheight) - var(--minheight)), 100% 0, 100% 100%, 0 100%);
//   color: white;
// }